.service-itemb-box{
  background-color: #579cbe;
}
.service-row-box{
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 30px;
}
.service-title-box{
  font-size: 23px;
}
.service-title-box>li>a{
  color: #efefef!important;
}
.service-title-box>li>a:focus, .service-title-box>li>a:hover{
  background-color:#000000;/* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
  background-color:rgba(0,0,0,0.2); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
}
.service-title{
  background-color: #ffffff;
  color: #ff6197;
  padding: 10px;
  border-radius: 6px;
  margin-right: 30px;
}
.service-col{
  margin-top: 30px;
}
.hot-b-box{
  background-color: #dc7db9;
  padding-bottom: 100px;
}
.hot-list-box{
  margin-top: 100px;
}
.i-label{
  float: right;
  margin-left: 5px;
}
.on-line{
  color: #66FF66;
}
.off-line{
  color: #db4d6d;
}
.money-time{
  float: right;
  font-size: 21px;
  color: #db4d6d;
}
.service-b-box{
  background-color: #dc7db9;
  padding-top: 100px;
}
.cover-thumbnail{
  height: 400px!important;
  width: 100%!important;
}