{% include 'header.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/public/jquery-weui-build/dist/css/jquery-weui.css">
<link rel="stylesheet" href="/apps/wap/views/ucenter/css/ucenter.css">
{% endblock %}

<!-- section -->
<div class="row myMsg">
	<div class="col-xs-1"></div>
	<div class="col-xs-11 ">
		<h4 class="demos-title">基本资料</h4>
	</div>
</div>
<div class="container">
	<form action="/enter/add" class="form" id="usersForm" enctype="multipart/form-data">
		<div class="weui-cell">
		    <div class="weui-cell__hd"><label for="date" class="weui-label">出生日期</label></div>
		    <div class="weui-cell__bd">
		      <input class="weui-input" id="date" type="text" name="birthday" value="{{data.users.birthday|date('Y-m-d')}}">
		    </div>
		</div>
		<div class="weui-cell">
		    <div class="weui-cell__hd"><label for="sex" class="weui-label">请选择性别</label></div>
	        <div class="weui-cell__bd">
	        	{% if data.users.sex == 1 %}
	          	<input class="weui-input" id="sex" type="text" name="sex" value="男">
	        	{% else %}
	        		<input class="weui-input" id="sex" type="text" name="sex" value="女">
	        	{% endif %}
	        </div>
		 </div>

		 <div class="weui-cell">
		    <div class="weui-cell__hd"><label class="weui-label">年龄</label></div>
		    <div class="weui-cell__bd">
		      <input type="text" name="age" class="weui-input" placeholder="请输入年龄" value="{{data.users.age}}">
		    </div>
		 </div>
		 <div class="weui-cell">
		    <div class="weui-cell__hd"><label class="weui-label">所在城市</label></div>
	        <div class="weui-cell__bd">
	          <input class="weui-input" placeholder="请输出城市" type="text" name="city" value="{{data.users.city}}">
	        </div>
		 </div>
		 <div class="weui-cell">
		    <div class="weui-cell__hd"><label class="weui-label" for="name">个性标签</label></div>
		    <div class="weui-cell__bd">
			    <input class="weui-input" name="i_label[]" id="selfdom_tag" type="text" value="任意选2项">
		    </div>
		 </div>
		 <div class="weui-cell">
		    <div class="weui-cell__hd"><label class="weui-label">个性签名</label></div>
		    <div class="weui-cell__bd">
		      <input type="text" name="i_signature" class="weui-input" value="{{data.users.i_signature}}">
		    </div>
		 </div>
		 <div class="weui-cell">
		    <div class="weui-cell__hd"><label class="weui-label">身高(cm)</label></div>
		    <div class="weui-cell__bd">
		      <input type="text" name="stature" class="weui-input" value="{{data.users_info.stature}}">
		    </div>
		 </div>
		 <div class="weui-cell">
		    <div class="weui-cell__hd"><label class="weui-label">体重(kg)</label></div>
		    <div class="weui-cell__bd">
		      <input type="text" name="weight" class="weui-input" value="{{data.users_info.weight}}">
		    </div>
		 </div>
		 <div class="weui-cell">
		    <div class="weui-cell__hd"><label for="occupation" class="weui-label">职业</label></div>
		    <div class="weui-cell__bd">
		      <input type="text" name="occupation" class="weui-input" id="occupation" >
		    </div>
		 </div>
		 <div class="weui-cell">
		    <div class="weui-cell__hd"><label class="weui-label">兴趣爱好</label></div>
		    <div class="weui-cell__bd">
		      <input type="text" name="interests" class="weui-input" value="{{data.users_info.interests}}">
		    </div>
		 </div>
		 <div class="weui-cell">
		    <div class="weui-cell__hd"><label class="weui-label">魅力部位</label></div>
		    <div class="weui-cell__bd">
			    <input class="weui-input" name="charm_part[]" id="hobby" type="text" value="不超过3项">
		    </div>
		 </div>
		 <div class="weui-cell posR">
		 	<div class="weui-cell__hd">
		 		<label for="inputEmail3" class="weui-label control-label">个人视频</label>
		 	</div>
      <div class="col-xs-9">
        <input type="text" class="form-control" placeholder="请上传10秒左右的自拍视频" readonly="readonly">
      </div>
      <div class="col-xs-4 posAb topRight">
        <button type="button" class="btn btn-primary" onclick="$('#video_path').click();">选择</button>
        <input type="hidden" id="video_path_text" name="video_path_text" value="{{data.users_info.video_path}}">
        <input type="file" id="video_path" name="video_path" accept="video/mp4" style="display: none;">
      </div>
		 </div>
		<div class="weui-cell">
			<button class="weui-btn weui-btn_primary" type="submit">提交</button>
		</div>
		<div class="weui-cell">
			<button class="weui-btn weui-btn_warn" type="button" onclick="gotoService(1,1);">申请陪玩服务</button>
		</div>
		<div class="weui-cell">
			<a href="javascript:history.go(-1)"><- 返回上一页</a>
		</div>
	</form>

</div>


	<!-- 遮罩层 -->

<div id="full" class="popup__container">
	<div class="popup__overlay"></div>
	<div class="popup__modal">
	  <h3 class="center">"听娱神游约玩"陪玩协议</h3>
	    <p>马路上铺满了黄灿灿的叶子，踏上去擦擦作响，一个人下班独自地走着，不知不觉就这样已然走过了20多个春、夏、秋、冬，当再次遇上秋天这个季节，心中的惆怅之感还是奔涌而来。

还记得，当初为了追寻自己的抱负和本心，拒绝了他人的建议，怀揣着对未来的期待独自一人来到了这个陌生的城市，开始了自己追梦之旅。岁月荏苒，不知不觉中自己已然不再是那个天不怕地不怕的愣头青了，晚风袭来，看着周围来来往往的人群和车水马龙的街道，以及成双结对的情侣，突然有点害怕了，怕这样的情景会不断重现。其实每个人都希望有关注自己的人，这样，即使自己与这个世界相比再怎么渺小，但是在关注自己的人面前还是拥有足够的满足感。但是在此刻，并没有发现这样的一个人，庆幸每天都是忙忙碌碌的，这样至少没有时间去思考自己的坚持到底对不对、值不值得，人就是这样，只要有这种想法的萌芽，那它就会像洪水猛兽一样滔滔不绝向你袭来，直到让你身心疲惫、意志动摇。

都说每个男人心里其实都住着一个孩子，是啊，谁不愿意像孩子一样无忧无虑的生活着呢？只是在现实面前你不得不成长，不得不去压制自己内心的声音，在这样一个人人追逐成功的时代，如果一个男孩不足够的优秀，怎么去托举自己的未来，这其中更多的是辛酸和无奈。

还记得以前看过的心灵鸡汤里的一句话，“努力不一定成功，不努力一定不会成功！”相信很多人看到这句话都会再看到这句话是而内心振奋，即使前面是铜墙铁壁，撑着头也要往上撞，等到撞到头破血流才发现，原来自己真的有点以卵击石了，卵就是卵石就是石，但是对大多数人而言不这么撞一下相信也不会甘心的。因为大多怀揣梦想的人来说都是在这里卑微的坚持，即使目前过得不尽人意，但是对于大多数有追求的人来说又怎么会甘于过家乡那种闲游散漫的生活，来到这里总要留下点什么，只要还能坚持就一定要走下去，风水轮流转，指不定哪天就轮到自己了呢！

我尊重每个默默坚持在这里的人，可能事业还无成，但是对前路的渴望是其他人所永远不会懂得的，即使有一天迫于无奈离开了这里，但是相信这种经历也会让你受用终生。

秋风吹来，又吹落了好多叶子，天真的冷了，紧了紧衣服，快步消失在奔流不息的人群中！</p>
	<a href="javascript:;" class="weui-btn weui-btn_primary close-popup">同意并进行下一步</a>
	  </div>
</div>
{% include 'footer_js.html' %}

{% block js %}

 <script src="/apps/wap/views/ucenter/js/application.js"></script>

<script src="/public/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
<script src="/public/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">




	//选择个性标签
	$("#selfdom_tag").select({
      title: "个性标签(任意选2项)",
      multi: true,
      min:1,
      max:2,
      items: {% autoescape false %}{{data.i_label}}{% endautoescape %}
	});
    //选择魅力部位
    $("#hobby").select({
        title: "魅力部位(不超过3项)",
        multi: true,
        min:1,
        max:3,
        items: {% autoescape false %}{{data.charm_part}}{% endautoescape %}
    });
    $("#occupation").select({
    	title:"选择职业",
    	items: {% autoescape false %}{{data.occupation}}{% endautoescape %}
    })
    //调用日期插件
  $("#date").calendar();
</script>

{% endblock %}