{% include 'header.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/public/jquery-weui-build/dist/css/jquery-weui.css">
<link rel="stylesheet" href="/apps/wap/views/ucenter/css/ucenter.css">
{% endblock %}
		<!-- page -->
<div class="applyList">
	<div class="row myMsg">
		<div class="col-xs-1"></div>
		<div class="col-xs-11 ">
			<h4>线上游戏</h4>
		</div>
	</div>
	<div class="container ">
		<div class="weui-cells ">
		  <a class="weui-cell weui-cell_access" href="/wap/ucenter/service">
		  	<div class="weui-cell__hd"><img src="/apps/wap/views/index/img/icon1.png"></div>
		    <div class="weui-cell__bd">
		      <p>线上LOL</p>
		    </div>
		    <div class="weui-cell__ft">
		    </div>
		  </a>
		  <a class="weui-cell weui-cell_access" href="javascript:;">
		  	<div class="weui-cell__hd"><img src="/apps/wap/views/index/img/icon3.png"></div>
		    <div class="weui-cell__bd">
		      <p>王者荣耀</p>
		    </div>
		    <div class="weui-cell__ft">
		    </div>
		  </a>
		  <a class="weui-cell weui-cell_access" href="javascript:;">
		  	<div class="weui-cell__hd"><img src="/apps/wap/views/index/img/icon_13.png"></div>
		    <div class="weui-cell__bd">
		      <p>球球大作战</p>
		    </div>
		    <div class="weui-cell__ft">
		    </div>
		  </a>
		</div>
	</div>

	<div class="row myMsg">
		<div class="col-xs-1"></div>
		<div class="col-xs-11 ">
			<h4>线上娱乐</h4>
		</div>
	</div>

	<div class="container applyList">
		<div class="weui-cells ">
		  <a class="weui-cell weui-cell_access" href="javascript:;">
		  	<div class="weui-cell__hd"><img src="/apps/wap/views/index/img/icon_10.png"></div>
		    <div class="weui-cell__bd">
		      <p>唱歌</p>
		    </div>
		    <div class="weui-cell__ft">
		    </div>
		  </a>
		  <a class="weui-cell weui-cell_access" href="javascript:;">
		  	<div class="weui-cell__hd"><img src="/apps/wap/views/index/img/icon_16.png"></div>
		    <div class="weui-cell__bd">
		      <p>恋爱指导</p>
		    </div>
		    <div class="weui-cell__ft">
		    </div>
		  </a>
		  <a class="weui-cell weui-cell_access" href="javascript:;">
		  	<div class="weui-cell__hd"><img src="/apps/wap/views/index/img/icon5.png"></div>
		    <div class="weui-cell__bd">
		      <p>声优聊天</p>
		    </div>
		    <div class="weui-cell__ft">
		    </div>
		  </a>
		  <a class="weui-cell weui-cell_access" href="javascript:;">
		  	<div class="weui-cell__hd"><img src="/apps/wap/views/index/img/icon_17.png"></div>
		    <div class="weui-cell__bd">
		      <p>讲故事</p>
		    </div>
		    <div class="weui-cell__ft">
		    </div>
		  </a>
		  <a class="weui-cell weui-cell_access" href="javascript:;">
		  	<div class="weui-cell__hd"><img src="/apps/wap/views/index/img/icon8.png"></div>
		    <div class="weui-cell__bd">
		      <p>虚拟恋人</p>
		    </div>
		    <div class="weui-cell__ft">
		    </div>
		  </a>
		  <a class="weui-cell weui-cell_access" href="javascript:;">
		  	<div class="weui-cell__hd"><img src="/apps/wap/views/index/img/icon6.png"></div>
		    <div class="weui-cell__bd">
		      <p>视频聊天</p>
		    </div>
		    <div class="weui-cell__ft">
		    </div>
		  </a>
		</div>
	</div>

	<div class="row myMsg">
		<div class="col-xs-1"></div>
		<div class="col-xs-11 ">
			<h4>线下娱乐</h4>
		</div>
	</div>

	<div class="container applyList">
		<div class="weui-cells ">
		  <a class="weui-cell weui-cell_access" href="javascript:;">
		  	<div class="weui-cell__hd"><img src="/apps/wap/views/index/img/icon2.png"></div>
		    <div class="weui-cell__bd">
		      <p>线下LOL</p>
		    </div>
		    <div class="weui-cell__ft">
		    </div>
		  </a>
		  <a class="weui-cell weui-cell_access" href="javascript:;">
		  	<div class="weui-cell__hd"><img src="/apps/wap/views/index/img/icon_15.png"></div>
		    <div class="weui-cell__bd">
		      <p>陪看电影</p>
		    </div>
		    <div class="weui-cell__ft">
		    </div>
		  </a>
		  <a class="weui-cell weui-cell_access" href="javascript:;">
		  	<div class="weui-cell__hd"><img src="/apps/wap/views/index/img/icon_18.png"></div>
		    <div class="weui-cell__bd">
		      <p>陪吃饭</p>
		    </div>
		    <div class="weui-cell__ft">
		    </div>
		  </a>
		  <a class="weui-cell weui-cell_access" href="javascript:;">
		  	<div class="weui-cell__hd"><img src="/apps/wap/views/index/img/icon_12.png"></div>
		    <div class="weui-cell__bd">
		      <p>陪唱歌</p>
		    </div>
		    <div class="weui-cell__ft">
		    </div>
		  </a>
		  <a class="weui-cell weui-cell_access" href="javascript:;">
		  	<div class="weui-cell__hd"><img src="/apps/wap/views/index/img/icon_20.png"></div>
		    <div class="weui-cell__bd">
		      <p>陪逛街</p>
		    </div>
		    <div class="weui-cell__ft">
		    </div>
		  </a>
		  <a class="weui-cell weui-cell_access" href="javascript:;">
		  	<div class="weui-cell__hd"><img src="/apps/wap/views/index/img/icon_19.png"></div>
		    <div class="weui-cell__bd">
		      <p>陪游玩</p>
		    </div>
		    <div class="weui-cell__ft">
		    </div>
		  </a>
		</div>
	</div>
</div>
{% include 'footer_js.html' %}

{% block js %}

 <script src="/apps/wap/views/ucenter/js/application.js"></script>

{% endblock %}