{% include 'header.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/public/jquery-weui-build/dist/css/jquery-weui.css">
<link rel="stylesheet" href="/apps/wap/views/ucenter/css/ucenter.css">
{% endblock %}
		<!-- page -->
<div class="applyList">
	<div class="row myMsg">
		<div class="col-xs-1"></div>
		<div class="col-xs-11 ">
			<h4>线上游戏</h4>
		</div>
	</div>
	<div class="container ">
		<div class="weui-cells ">
      {% for k,v in data.scData %}
      {% if v.type == 0 %}
		  <a class="weui-cell weui-cell_access" href="/wap/ucenter/service/scid/{{v.id}}">
		  	<div class="weui-cell__hd"><img src="{{v.icon_path}}"></div>
		    <div class="weui-cell__bd">
		      {{v.cname}}
		    </div>
		    <div class="weui-cell__ft">
		    </div>
		  </a>
      {% endif %}
      {% endfor %}
		</div>
	</div>

	<div class="row myMsg">
		<div class="col-xs-1"></div>
		<div class="col-xs-11 ">
			<h4>线上娱乐</h4>
		</div>
	</div>

	<div class="container applyList">
		<div class="weui-cells ">
      {% for k,v in data.scData %}
      {% if v.type == 1 %}
		  <a class="weui-cell weui-cell_access" href="/wap/ucenter/service/scid/{{v.id}}">
		  	<div class="weui-cell__hd"><img src="{{v.icon_path}}"></div>
		    <div class="weui-cell__bd">
		      {{v.cname}}
		    </div>
		    <div class="weui-cell__ft">
		    </div>
		  </a>
      {% endif %}
      {% endfor %}
		</div>
	</div>

	<div class="row myMsg">
		<div class="col-xs-1"></div>
		<div class="col-xs-11 ">
			<h4>线下娱乐</h4>
		</div>
	</div>

	<div class="container applyList">
		<div class="weui-cells ">
      {% for k,v in data.scData %}
      {% if v.type == 2 %}
		  <a class="weui-cell weui-cell_access" href="/wap/ucenter/service/scid/{{v.id}}">
		  	<div class="weui-cell__hd"><img src="{{v.icon_path}}"></div>
		    <div class="weui-cell__bd">
		      {{v.cname}}
		    </div>
		    <div class="weui-cell__ft">
		    </div>
		  </a>
      {% endif %}
      {% endfor %}
		</div>
	</div>
</div>
{% include 'footer_js.html' %}

{% block js %}

 <script src="/apps/wap/views/ucenter/js/application.js"></script>

{% endblock %}