{% include 'header.html' %}

{% block css %}
<link rel="stylesheet" href="/apps/wap/views/index/css/indexTow.css">
{% endblock %}

<!-- banner start -->
  <div class=" banner-box">
    <div class="container">
       <div class="swiper-container " data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000">
        <div class="swiper-wrapper swiper-b-h">
          {% for k,v in data.bData %}
            <div class="swiper-slide"><img class="swiper-b-img" src="{{v.path}}"></div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <!-- banner end -->

  <!-- search start -->
  <!-- <div class="input-group col-md-3 indexSearch">
      <i></i>
      <input type="text" class="form-control" placeholder="搜索昵称" / >
 </div> -->
  <!-- search end -->

  <!-- nav start -->
  <!-- 容器 -->
<div class="weui-tab index_back">
  <div class="weui-navbar">
    <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
      线上游戏
    </a>
    <a class="weui-navbar__item" href="#tab2">
      线上娱乐
    </a>
    <a class="weui-navbar__item" href="#tab3">
      线下娱乐
    </a>
  </div>
  <div class="weui-tab__bd ">
    <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
      <div class="weui-grids">
        {% for k,v in data.scData %}
        {% if v.type == 0 %}
        <a href="/wap/index/item/scid/{{v.id}}" class="weui-grid js_grid">
          <div class="weui-grid__icon">
            <img src="{{v.icon_path}}">
          </div>
          <p class="weui-grid__label">
            {{v.cname}}
          </p>
        </a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div id="tab2" class="weui-tab__bd-item">
      <div class="weui-grids">
        {% for k,v in data.scData %}
        {% if v.type == 1 %}
        <a href="/wap/index/item/scid/{{v.id}}" class="weui-grid js_grid">
          <div class="weui-grid__icon">
            <img src="{{v.icon_path}}">
          </div>
          <p class="weui-grid__label">
            {{v.cname}}
          </p>
        </a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div id="tab3" class="weui-tab__bd-item">
      <div class="weui-grids">
        {% for k,v in data.scData %}
        {% if v.type == 2 %}
        <a href="/wap/index/item/scid/{{v.id}}" class="weui-grid js_grid">
          <div class="weui-grid__icon">
            <img src="{{v.icon_path}}">
          </div>
          <p class="weui-grid__label">
            {{v.cname}}
          </p>
        </a>
        {% endif %}
        {% endfor %}
      </div>
  </div>
</div>
</div>
<!-- nav end -->

<!-- 主体内容 -->
<!-- 热门推荐 -->
<div class="oneBox">
<div class="container index_container">
  <h4 style="position: relative;">热门推荐<!-- <a href="javascript:;" class="more lt">+MORE</a> --></h4>
  <div class="oneBox">
    {% for k,v in data.sData %}
    <div class="oneBox_list">
      <a href="/wap/meet/index/sid/{{v.id}}">
          <div class="list">
            <img class="cover-img" src="{{v.cover_path}}">
          </div>
          <div class="label label1">
            {% if v.uData.istatus == 1 %}
              真人认证
            {% endif %}
          </div>
          <div class="label2 label1">
            {% if v.uData.status == 0 %}离线{% endif %}
            {% if v.uData.status == 1 %}在线{% endif %}
            {% if v.uData.status == 2 %}冻结{% endif %}
          </div>
          <p class="u-nickname">{{v.uData.nickname}}</p>
          <p class="userName" >￥<span >{{v.price}}</span>元/{{v.units}}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% include 'footer.html' %}