{% include 'header.html' %}

{% block css %}


{% endblock %}

<!-- banner start -->
  <div class=" banner-box">
    <div class="container">
       <div class="swiper-container " data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/apps/wap/views/index/img/banner-1.png"></div>
            <div class="swiper-slide"><img src="/apps/wap/views/index/img/banner-1.png"></div>
            <div class="swiper-slide"><img src="/apps/wap/views/index/img/banner-1.png"></div>
            <div class="swiper-slide"><img src="/apps/wap/views/index/img/banner-1.png"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>  
  <!-- banner end -->

  <!-- search start -->
  <div class="input-group col-md-3 indexSearch">  
      <i></i>
      <input type="text" class="form-control" placeholder="搜索昵称" / >  
 </div>  
  <!-- search end -->

  <!-- nav start -->
  <!-- 容器 -->
<div class="weui-tab">
  <div class="weui-navbar">
    <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
      线上游戏
    </a>
    <a class="weui-navbar__item" href="#tab2">
      线上娱乐
    </a>
    <a class="weui-navbar__item" href="#tab3">
      线下娱乐
    </a>
  </div>
  <div class="weui-tab__bd">
    <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
      <div class="weui-grids">
        <a href="/wap/index/item" class="weui-grid js_grid">
          <div class="weui-grid__icon">
            <img src="/apps/wap/views/index/img/icon1.png" alt="">
          </div>
          <p class="weui-grid__label">
            线上LOL
          </p>
        </a>
        <a href="javascript:;" class="weui-grid js_grid">
          <div class="weui-grid__icon">
            <img src="/apps/wap/views/index/img/icon_13.png" alt="">
          </div>
          <p class="weui-grid__label">
            球球大作战
          </p>
        </a>
        <a href="javascript:;" class="weui-grid js_grid">
          <div class="weui-grid__icon">
            <img src="/apps/wap/views/index/img/icon3.png" alt="">
          </div>
          <p class="weui-grid__label">
            王者荣耀
          </p>
        </a>
      </div>
    </div>
    <div id="tab2" class="weui-tab__bd-item">
      <div class="weui-grids">
        <a href="javascript:;" class="weui-grid js_grid">
          <div class="weui-grid__icon">
            <img src="/apps/wap/views/index/img/icon_10.png" alt="">
          </div>
          <p class="weui-grid__label">
            唱歌
          </p>
        </a>
        <a href="javascript:;" class="weui-grid js_grid">
          <div class="weui-grid__icon">
            <img src="/apps/wap/views/index/img/icon_16.png" alt="">
          </div>
          <p class="weui-grid__label">
            恋爱指导
          </p>
        </a>
        <a href="javascript:;" class="weui-grid js_grid">
          <div class="weui-grid__icon">
            <img src="/apps/wap/views/index/img/icon5.png" alt="">
          </div>
          <p class="weui-grid__label">
            声优聊天
          </p>
        </a>
        <a href="javascript:;" class="weui-grid js_grid">
          <div class="weui-grid__icon">
           <img src="/apps/wap/views/index/img/icon_17.png" alt="">
          </div>
          <p class="weui-grid__label">
            讲故事
          </p>
        </a>
        <a href="javascript:;" class="weui-grid js_grid">
          <div class="weui-grid__icon">
            <img src="/apps/wap/views/index/img/icon8.png" alt="">
          </div>
          <p class="weui-grid__label">
            虚拟恋人
          </p>
        </a>
        <a href="javascript:;" class="weui-grid js_grid">
          <div class="weui-grid__icon">
            <img src="/apps/wap/views/index/img/icon6.png" alt="">
          </div>
          <p class="weui-grid__label">
            视频聊天
          </p>
        </a>
      </div>
    </div>
    <div id="tab3" class="weui-tab__bd-item">
      <div class="weui-grids">
        <a href="javascript:;" class="weui-grid js_grid">
          <div class="weui-grid__icon">
            <img src="/apps/wap/views/index/img/icon2.png" alt="">
          </div>
          <p class="weui-grid__label">
            线下LOL
          </p>
        </a>
        <a href="javascript:;" class="weui-grid js_grid">
          <div class="weui-grid__icon">
            <img src="/apps/wap/views/index/img/icon_15.png" alt="">
          </div>
          <p class="weui-grid__label">
            陪看电影
          </p>
        </a>
        <a href="javascript:;" class="weui-grid js_grid">
          <div class="weui-grid__icon">
            <img src="/apps/wap/views/index/img/icon_18.png" alt="">
          </div>
          <p class="weui-grid__label">
            陪吃饭
          </p>
        </a>
        <a href="javascript:;" class="weui-grid js_grid">
          <div class="weui-grid__icon">
           <img src="/apps/wap/views/index/img/icon_12.png" alt="">
          </div>
          <p class="weui-grid__label">
            陪唱歌
          </p>
        </a>
        <a href="javascript:;" class="weui-grid js_grid">
          <div class="weui-grid__icon">
            <img src="/apps/wap/views/index/img/icon_20.png" alt="">
          </div>
          <p class="weui-grid__label">
            陪逛街
          </p>
        </a>
        <a href="javascript:;" class="weui-grid js_grid">
          <div class="weui-grid__icon">
            <img src="/apps/wap/views/index/img/icon_19.png" alt="">
          </div>
          <p class="weui-grid__label">
            陪游玩
          </p>
        </a>
      </div>
  </div>
</div>
</div>
<!-- nav end -->

<!-- 主体内容 -->
<!-- 热门意见 -->
<div class="container">
  <h4>热门推荐</h4>
  <div class="oneBox">
    <div class="oneBox_list">
      <a href="/wap/meet/index">
          <div class="list">
            <img src="/apps/wap/views/index/img/hot-3.jpeg">
          </div>
          <div class="label label1">线上LOL</div>
          <div class="label2 label1">钻石</div>
          <p class="userName">蔡妹妹</p>
          <p class="userName" style="color: #F92246;">￥<span style="font-size: 16px;">45</span>元/小时  </p>
      </a>
    </div>
    <div class="oneBox_list">
      <a href="/wap/meet/index">
          <div class="list">
            <img src="/apps/wap/views/index/img/hot-3.jpeg">
          </div>
          <div class="label label1">线上LOL</div>
          <div class="label2 label1">钻石</div>
          <p class="userName">蔡妹妹</p>
          <p class="userName" style="color: #F92246;">￥<span style="font-size: 16px;">45</span>元/小时  </p>
      </a>
    </div>
    <div class="oneBox_list">
      <a href="/wap/meet/index">
          <div class="list">
            <img src="/apps/wap/views/index/img/hot-3.jpeg">
          </div>
          <div class="label label1">线上LOL</div>
          <div class="label2 label1">钻石</div>
          <p class="userName">蔡妹妹</p>
          <p class="userName" style="color: #F92246;">￥<span style="font-size: 16px;">45</span>元/小时  </p>
      </a>
    </div>
  </div>
</div>
<!-- 线上LOL -->
<div class="container">
  <h4 style="position: relative;">线上LOL<a href="javascript:;" class="more lt">+MORE</a></h4>
  <div class="oneBox">
    <div class="oneBox_list">
      <a href="/wap/meet/index">
          <div class="list">
            <img src="/apps/wap/views/index/img/hot-3.jpeg">
          </div>
          <div class="label2 label1">钻石</div>
          <p class="userName">蔡妹妹</p>
          <p class="userName" style="color: #F92246;">￥<span style="font-size: 16px;">45</span>元/小时  </p>
      </a>
    </div>
    <div class="oneBox_list">
      <a href="/wap/meet/index">
          <div class="list">
            <img src="/apps/wap/views/index/img/hot-3.jpeg">
          </div>
          <div class="label2 label1">钻石</div>
          <p class="userName">蔡妹妹</p>
          <p class="userName" style="color: #F92246;">￥<span style="font-size: 16px;">45</span>元/小时  </p>
      </a>
    </div>
    <div class="oneBox_list">
      <a href="javascript:;">
          <div class="list">
            <img src="/apps/wap/views/index/img/hot-3.jpeg">
          </div>
          <div class="label2 label1">钻石</div>
          <p class="userName">蔡妹妹</p>
          <p class="userName" style="color: #F92246;">￥<span style="font-size: 16px;">45</span>元/小时  </p>
      </a>
    </div>
  </div>
</div>
<!-- 王者荣耀 -->
<div class="container">
  <h4 style="position: relative;">王者荣耀<a href="javascript:;" class="more lt">+MORE</a></h4>
  <div class="oneBox">
    <div class="oneBox_list">
      <a href="javascript:;">
          <div class="list">
            <img src="/apps/wap/views/index/img/hot-3.jpeg">
          </div>
          <div class="label2 label1">钻石</div>
          <p class="userName">蔡妹妹</p>
          <p class="userName" style="color: #F92246;">￥<span style="font-size: 16px;">45</span>元/小时  </p>
      </a>
    </div>
    <div class="oneBox_list">
      <a href="javascript:;">
          <div class="list">
            <img src="/apps/wap/views/index/img/hot-3.jpeg">
          </div>
          <div class="label2 label1">钻石</div>
          <p class="userName">蔡妹妹</p>
          <p class="userName" style="color: #F92246;">￥<span style="font-size: 16px;">45</span>元/小时  </p>
      </a>
    </div>
    <div class="oneBox_list">
      <a href="javascript:;">
          <div class="list">
            <img src="/apps/wap/views/index/img/hot-3.jpeg">
          </div>
          <div class="label2 label1">钻石</div>
          <p class="userName">蔡妹妹</p>
          <p class="userName" style="color: #F92246;">￥<span style="font-size: 16px;">45</span>元/小时  </p>
      </a>
    </div>
  </div>
</div>
{% include 'footer.html' %}