{% include 'header.html' %}
{% block css %}
<link rel="stylesheet" href="{{src}}/meet/css/detail.css">
<link rel="stylesheet" href="/public/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
{% endblock %}

  <!-- banner start -->
  <div class="container-fluid detail-box">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-11 video-div">
              <video class="video-box" controls>
                  <source src="{{data.usersInfo.video_path}}" type="video/mp4">
              </video>
            </div>
            <div class="col-md-11 info-div">
              <div class="info-title">个人资料</div>
              <ul class="list-unstyled info-ul">
                <li><i class="fa fa-camera-retro"></i> 身高：{{data.usersInfo.stature}}CM</li>
                <li><i class="fa fa-camera-retro"></i> 体重：{{data.usersInfo.weight}}Kg</li>
                <li><i class="fa fa-camera-retro"></i> 职业：{{data.usersInfo.occupation}}</li>
                <li><i class="fa fa-camera-retro"></i> 个人标签：{{data.users.i_label}}</li>
                <li><i class="fa fa-camera-retro"></i> 魅力部位：{{data.usersInfo.charm_part}}</li>
                <li><i class="fa fa-camera-retro"></i> 兴趣爱好：{{data.usersInfo.interests}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-7 service-div">
          <ul class="nav nav-pills">
            {% for k,v in data.sData %}
            <li role="presentation" {% if scid == v.scData.id %} class="active" {% endif %}><a href="/meet/detail/uid/{{uid}}/scid/{{v.scData.id}}/sid/{{v.id}}">{{v.scData.cname}}</a></li>
            {% endfor %}
          </ul>
          <div class="row service-info">
            <blockquote>
              <p>服务基础信息</p>
            </blockquote>
            <div class="col-md-8">
              <p><i class="fa fa-camera-retro"></i> {{data.onsData.i_label}}</p>
              <p><i class="fa fa-camera-retro"></i> 接单数：{{data.onsData.or_quantity}}</p>
              <p>
                <i class="fa fa-camera-retro"></i> 语音：
                <audio controls>
                  <source src="{{data.onsData.voice}}" type="audio/mpeg">
                </audio>
              </p>
            </div>
            <div class="col-md-4">
              <p><span class="service-price">{{data.onsData.price}}</span>元／{{data.units}}</p>
              <div>
              {% if data.users.status == 1 and data.users.id != u.id %}
                <button type="button" class="btn btn-danger" onclick="indent({{u.id}});">下单约TA</button>
              {% endif %}
              </div>
            </div>
          </div>
          <div class="row introduce-box">
            <blockquote>
              <p>介绍</p>
            </blockquote>
            <div class="col-md-12">
              <div class="introduce-content">
                {% autoescape false %}
                  {{data.onsData.describe}}
                {% endautoescape %}
              </div>
            </div>
          </div>
          <div class="row evaluate-box">
            <blockquote>
              <p>评论</p>
            </blockquote>
            <div class="col-md-12">
              {% if data.onsData.comment %}
              {% for k,v in data.onsData.comment %}
              <div class="media">
                <div class="media-left media-middle">
                  <a href="javascript:;">
                    <img class="media-object evaluate-img" src="{{v.avatar}}">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">{{v.nickname}}（{{v.ctime|date('Y-m-d')}}）
                    <span class="evaluate-i">
                    {% if v.status == 0 %}好评{% endif %}
                    {% if v.status == 1 %}中评{% endif %}
                    {% if v.status == 2 %}差评{% endif %}
                    </span>
                  </h4>
                  {{v.content}}
                </div>
              </div>
              {% endfor %}
              {% else %}
                <p>暂无评论 ～</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- banner end -->

<!-- 下单 modal -->
<div id="iModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog i-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">听娱神游约玩</h4>
      </div>
      <div class="modal-body">
        <blockquote>
          <p>订单信息</p>
        </blockquote>
          <div class="row indent-row">
            <div class="col-md-2">
              <img src="{{data.users.avatar}}" class="img-responsive avatar-img">
            </div>
            <div class="col-md-5">
              <p class="nickname-text">昵称：{{data.users.nickname}}</p>
              <p>服务：{{data.onscCname}}</p>
            </div>
            <div class="col-md-5">
              <p class="service-price-p">总价：<span class="service-price-indent">{{data.onsData.price}}</span>元／{{data.units}}</p>
              <p>单价：<sapn class="unit-price">{{data.onsData.price}}</sapn> x <span id="numSpan">1</span>{{data.units}}</p>
              <p>您当前约玩币：{{u.balance}}</p>
            </div>
          </div>
        <blockquote>
          <p>下单时间</p>
        </blockquote>
          <div class="row indent-row">
            <div class="col-md-5">
              <div class="form-inline">
                <div class="form-group">
                  <label for="exampleInputName2">日期</label>
                  <input type="text" class="form-control" id="datetimepickerDade" name="startDate" readonly="readonly" value="{{data.currentDate}}">
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-inline">
                <div class="form-group">
                  <label for="exampleInputName2">时间</label>
                  <input type="text" class="form-control" id="datetimepickerTime" name="startTime" readonly="readonly" placeholder="请选择服务开始时间">
                </div>
              </div>
            </div>
            <div class="col-md-2 num-md">
              <input class="alignment num-select" value="1" data-step="1" data-min="1" data-max="23" data-digit="0" name="num" />
            </div>
          </div>
        <blockquote>
          <p class="pay-tips">* 支付成功后将短信通知陪玩导师，请保持电话畅通。</p>
        </blockquote>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" onclick="iPay({{data.users.id}},{{u.id}},{{data.onsData.id}},0,'{{u.phone}}','{{data.users.phone}}','{{data.onsData.price}}','{{data.units}}','{{u.balance}}','{{data.onscCname}}');">立即支付</button>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}
{% block js %}
<script src="/public/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
<script src="/public/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="/public/jQuery-num-alignment/js/num-alignment.js"></script>
<script src="{{src}}/meet/js/detail.js"></script>
{% endblock %}