{% extends "layouts.html" %}
{% block css %}

{% endblock %}
{% block content%}

<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title"># 服务管理</h1>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">@ 服务类别列表</h3>
      </div>
      <div class="panel-body">
        <form action="/admin/serviceCategory/index/type/{{type}}" method="post">
          <div class="input-group" style="width: 300px;float: right;margin-right: 30px;">
            <input type="text" class="form-control" name="search" placeholder="请输入关键字">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary"><i class="icon wb-search" aria-hidden="true"></i></button>
            </span>
          </div>
        </form>
        <ul class="nav nav-pills">
          <li role="presentation" {% if type == 0 %}class="active"{% endif %}><a href="/admin/serviceCategory/index/type/0">线上游戏</a></li>
          <li role="presentation" {% if type == 1 %}class="active"{% endif %}><a href="/admin/serviceCategory/index/type/1">线上娱乐</a></li>
          <li role="presentation" {% if type == 2 %}class="active"{% endif %}><a href="/admin/serviceCategory/index/type/2">线下娱乐</a></li>
        </ul>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>名称</th>
              <th>单位</th>
              <th>排序</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            {% if data %}
            {% for k,v in data %}
            <tr>
              <td>
                {% if v.status == 0 %}
                  <span class="text-success">{启用}</span>
                {% else %}
                  <span class="text-danger">{禁用}</span>
                {% endif %}
              </td>
              <td>{{ v.cname }}</td>
              <td>
              {% if v.units == 0 %}
                <span class="text-warning">／时</span>
              {% elseif v.units == 1 %}
                <span class="text-warning">／局</span>
              {% elseif v.units == 2 %}
                <span class="text-warning">／首</span>
              {% elseif v.units == 3 %}
                <span class="text-warning">／次</span>
              {% endif %}
              </td>
              <td>{{ v.sort }}</td>
              <td>
                <button type="button" class="btn btn-success btn-xs" onclick="gotoService({{ v.id }})">服务列表</button>
                <button type="button" class="btn btn-primary btn-xs" onclick="modif({{ v.id }})">修改</button>
                <button type="button" class="btn btn-default btn-xs" onclick="del({{ v.id }});">删除</button>
              </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="4">
                <blockquote>
                  <p>暂无数据 ～</p>
                </blockquote>
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
        <div style="float: right;">
          {% autoescape false %}
            {{ page }}
          {% endautoescape %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page -->

{% endblock %}
{% block js %}
<script src="{{src}}/serviceCategory/js/index.js"></script>
{% endblock %}