{% include 'header.html' %}
{% block css %}
<link rel="stylesheet" href="{{src}}/index/css/index.css">
{% endblock %}

  <!-- banner start -->
  <div class="container-fluid banner-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="{{src}}/index/img/banner-1.png">
                <div class="carousel-caption">
                </div>
              </div>
              <div class="item">
                <img src="{{src}}/index/img/banner-1.png">
                <div class="carousel-caption">
                </div>
              </div>
              <div class="item">
                <img src="{{src}}/index/img/banner-1.png">
                <div class="carousel-caption">
                </div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- banner end -->

  <!-- 热门主播 start -->
  <div class="container-fluid hot-anchor-box">
    <div class="container">
      <div class="row hot-img-row">
        <div class="col-md-6 hot-img-box">
          <a href="javascript:;"><img src="{{src}}/index/img/hot-3.jpeg" class="img-responsive"></a>
        </div>
        <div class="col-md-6">
          <img src="{{src}}/index/img/hot-0.png" class="img-responsive">
        </div>
      </div>
      <div class="row hot-item-row">
        <div class="col-md-4">
          <a href="javascript:;"><img src="{{src}}/index/img/hot-3.jpeg" class="img-responsive"></a>
        </div>
        <div class="col-md-4">
          <a href="javascript:;"><img src="{{src}}/index/img/hot-3.jpeg" class="img-responsive"></a>
        </div>
        <div class="col-md-4">
          <a href="javascript:;"><img src="{{src}}/index/img/hot-3.jpeg" class="img-responsive"></a>
        </div>
      </div>
    </div>
  </div>
  <!-- 热门主播 end -->

  <!-- 热门推荐 start -->
  <div class="container-fluid hot-b-box">
    <div class="container">

      <div class="row">
        <div class="col-md-12 hot-recommend-title">
          <img src="{{src}}/index/img/hot-recommend.png" class="img-responsive hot-recommend-img">
        </div>
      </div>

      <div class="row hot-list-box">

        <div class="col-md-4">
          <a href="javascript:;">
            <div class="thumbnail">
              <img src="{{src}}/index/img/hot-3.jpeg">
              <div class="caption">
                  <ul class="list-inline">
                    <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                    <li class="bg-danger i-label">温文尔雅</li>
                    <li class="bg-success i-label">情感知性</li>
                  </ul>
                <h4>
                  一位温暖的路人
                </h4>
                <ul class="list-inline">
                  <li>重庆</li>
                  <li>21</li>
                </ul>
                <ul class="list-inline">
                  <li><i class="fa fa-circle on-line"></i> 在线</li>
                  <li class="money-time">66元／小时</li>
                </ul>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="javascript:;">
            <div class="thumbnail">
              <img src="{{src}}/index/img/hot-3.jpeg">
              <div class="caption">
                  <ul class="list-inline">
                    <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                    <li class="bg-danger i-label">温文尔雅</li>
                    <li class="bg-success i-label">情感知性</li>
                  </ul>
                <h4>
                  一位温暖的路人
                </h4>
                <ul class="list-inline">
                  <li>重庆</li>
                  <li>21</li>
                </ul>
                <ul class="list-inline">
                  <li><i class="fa fa-circle off-line"></i> 离线</li>
                  <li class="money-time">66元／小时</li>
                </ul>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="javascript:;">
            <div class="thumbnail">
              <img src="{{src}}/index/img/hot-3.jpeg">
              <div class="caption">
                  <ul class="list-inline">
                    <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                    <li class="bg-danger i-label">温文尔雅</li>
                    <li class="bg-success i-label">情感知性</li>
                  </ul>
                <h4>
                  一位温暖的路人
                </h4>
                <ul class="list-inline">
                  <li>重庆</li>
                  <li>21</li>
                </ul>
                <ul class="list-inline">
                  <li><i class="fa fa-circle on-line"></i> 在线</li>
                  <li class="money-time">66元／小时</li>
                </ul>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="javascript:;">
            <div class="thumbnail">
              <img src="{{src}}/index/img/hot-3.jpeg">
              <div class="caption">
                  <ul class="list-inline">
                    <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                    <li class="bg-danger i-label">温文尔雅</li>
                    <li class="bg-success i-label">情感知性</li>
                  </ul>
                <h4>
                  一位温暖的路人
                </h4>
                <ul class="list-inline">
                  <li>重庆</li>
                  <li>21</li>
                </ul>
                <ul class="list-inline">
                  <li><i class="fa fa-circle on-line"></i> 在线</li>
                  <li class="money-time">66元／小时</li>
                </ul>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="javascript:;">
            <div class="thumbnail">
              <img src="{{src}}/index/img/hot-3.jpeg">
              <div class="caption">
                  <ul class="list-inline">
                    <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                    <li class="bg-danger i-label">温文尔雅</li>
                    <li class="bg-success i-label">情感知性</li>
                  </ul>
                <h4>
                  一位温暖的路人
                </h4>
                <ul class="list-inline">
                  <li>重庆</li>
                  <li>21</li>
                </ul>
                <ul class="list-inline">
                  <li><i class="fa fa-circle off-line"></i> 离线</li>
                  <li class="money-time">66元／小时</li>
                </ul>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="javascript:;">
            <div class="thumbnail">
              <img src="{{src}}/index/img/hot-3.jpeg">
              <div class="caption">
                  <ul class="list-inline">
                    <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                    <li class="bg-danger i-label">温文尔雅</li>
                    <li class="bg-success i-label">情感知性</li>
                  </ul>
                <h4>
                  一位温暖的路人
                </h4>
                <ul class="list-inline">
                  <li>重庆</li>
                  <li>21</li>
                </ul>
                <ul class="list-inline">
                  <li><i class="fa fa-circle on-line"></i> 在线</li>
                  <li class="money-time">66元／小时</li>
                </ul>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="javascript:;">
            <div class="thumbnail">
              <img src="{{src}}/index/img/hot-3.jpeg">
              <div class="caption">
                  <ul class="list-inline">
                    <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                    <li class="bg-danger i-label">温文尔雅</li>
                    <li class="bg-success i-label">情感知性</li>
                  </ul>
                <h4>
                  一位温暖的路人
                </h4>
                <ul class="list-inline">
                  <li>重庆</li>
                  <li>21</li>
                </ul>
                <ul class="list-inline">
                  <li><i class="fa fa-circle on-line"></i> 在线</li>
                  <li class="money-time">66元／小时</li>
                </ul>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="javascript:;">
            <div class="thumbnail">
              <img src="{{src}}/index/img/hot-3.jpeg">
              <div class="caption">
                  <ul class="list-inline">
                    <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                    <li class="bg-danger i-label">温文尔雅</li>
                    <li class="bg-success i-label">情感知性</li>
                  </ul>
                <h4>
                  一位温暖的路人
                </h4>
                <ul class="list-inline">
                  <li>重庆</li>
                  <li>21</li>
                </ul>
                <ul class="list-inline">
                  <li><i class="fa fa-circle off-line"></i> 离线</li>
                  <li class="money-time">66元／小时</li>
                </ul>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="javascript:;">
            <div class="thumbnail">
              <img src="{{src}}/index/img/hot-3.jpeg">
              <div class="caption">
                <ul class="list-inline">
                  <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                  <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                  <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                  <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                  <li class="bg-danger i-label">温文尔雅</li>
                  <li class="bg-success i-label">情感知性</li>
                </ul>
                <h4>
                  一位温暖的路人
                </h4>
                <ul class="list-inline">
                  <li>重庆</li>
                  <li>21</li>
                </ul>
                <ul class="list-inline">
                  <li><i class="fa fa-circle on-line"></i> 在线</li>
                  <li class="money-time">66元／小时</li>
                </ul>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="javascript:;">
            <div class="thumbnail">
              <img src="{{src}}/index/img/hot-3.jpeg">
              <div class="caption">
                  <ul class="list-inline">
                    <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                    <li class="bg-danger i-label">温文尔雅</li>
                    <li class="bg-success i-label">情感知性</li>
                  </ul>
                <h4>
                  一位温暖的路人
                </h4>
                <ul class="list-inline">
                  <li>重庆</li>
                  <li>21</li>
                </ul>
                <ul class="list-inline">
                  <li><i class="fa fa-circle on-line"></i> 在线</li>
                  <li class="money-time">66元／小时</li>
                </ul>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="javascript:;">
            <div class="thumbnail">
              <img src="{{src}}/index/img/hot-3.jpeg">
              <div class="caption">
                  <ul class="list-inline">
                    <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                    <li class="bg-danger i-label">温文尔雅</li>
                    <li class="bg-success i-label">情感知性</li>
                  </ul>
                <h4>
                  一位温暖的路人
                </h4>
                <ul class="list-inline">
                  <li>重庆</li>
                  <li>21</li>
                </ul>
                <ul class="list-inline">
                  <li><i class="fa fa-circle off-line"></i> 离线</li>
                  <li class="money-time">66元／小时</li>
                </ul>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="javascript:;">
            <div class="thumbnail">
              <img src="{{src}}/index/img/hot-3.jpeg">
              <div class="caption">
                <ul class="list-inline">
                  <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                  <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                  <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                  <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                  <li class="bg-danger i-label">温文尔雅</li>
                  <li class="bg-success i-label">情感知性</li>
                </ul>
                <h4>
                  一位温暖的路人
                </h4>
                <ul class="list-inline">
                  <li>重庆</li>
                  <li>21</li>
                </ul>
                <ul class="list-inline">
                  <li><i class="fa fa-circle on-line"></i> 在线</li>
                  <li class="money-time">66元／小时</li>
                </ul>
              </div>
            </div>
          </a>
        </div>

      </div>

      <!-- 更多按钮 -->
      <div class="row">
        <div class="col-md-12 more-box">
          <a href="javascript:;">
            <img src="{{src}}/index/img/more.png" class="img-responsive more-btn">
          </a>
        </div>
      </div>

    </div>
  </div>
  <!-- 热门推荐 end -->

  <!-- 排行榜 start -->
  <div class="container-fluid ranking-b-box">
    <div class="container">
      <div class="row ranking-box">
        <div class="col-md-5">
          <div class="ranking-title-box">
            <i class="fa fa-free-code-camp ranking-icon"></i><span class="ranking-title">热度榜</span>
          </div>
          <ul class="list-group ranking-list-box">
            <li class="list-group-item ranking-list-title">
              <span class="on-notice" id="hotWeekNotice" onclick="noticeChange('hotWeekNotice','hotTotalNotice');">周榜</span><span class="off-notice" id="hotTotalNotice" onclick="noticeChange('hotTotalNotice','hotWeekNotice');">总榜</span>
            </li>
            <li class="list-group-item">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="javascript:;">
                      <img class="media-object hot-list-img" src="{{src}}/index/img/hot-3.jpeg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">一位温暖的路人</h4>
                    <p class="sort-box"><span class="sort-num">1</span></p>
                    <ul class="list-inline hot-list-li">
                      <li>重庆</li>
                      <li>21</li>
                    </ul>
                    <ul class="list-inline hot-list-li">
                      <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="javascript:;">
                      <img class="media-object hot-list-img" src="{{src}}/index/img/hot-3.jpeg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">一位温暖的路人</h4>
                    <p class="sort-box"><span class="sort-num">2</span></p>
                    <ul class="list-inline hot-list-li">
                      <li>重庆</li>
                      <li>21</li>
                    </ul>
                    <ul class="list-inline hot-list-li">
                      <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="javascript:;">
                      <img class="media-object hot-list-img" src="{{src}}/index/img/hot-3.jpeg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">一位温暖的路人</h4>
                    <p class="sort-box"><span class="sort-num">3</span></p>
                    <ul class="list-inline hot-list-li">
                      <li>重庆</li>
                      <li>21</li>
                    </ul>
                    <ul class="list-inline hot-list-li">
                      <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="javascript:;">
                      <img class="media-object hot-list-img" src="{{src}}/index/img/hot-3.jpeg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">一位温暖的路人</h4>
                    <p class="sort-box"><span class="sort-num">4</span></p>
                    <ul class="list-inline hot-list-li">
                      <li>重庆</li>
                      <li>21</li>
                    </ul>
                    <ul class="list-inline hot-list-li">
                      <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="javascript:;">
                      <img class="media-object hot-list-img" src="{{src}}/index/img/hot-3.jpeg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">一位温暖的路人</h4>
                    <p class="sort-box"><span class="sort-num">5</span></p>
                    <ul class="list-inline hot-list-li">
                      <li>重庆</li>
                      <li>21</li>
                    </ul>
                    <ul class="list-inline hot-list-li">
                      <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="javascript:;">
                      <img class="media-object hot-list-img" src="{{src}}/index/img/hot-3.jpeg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">一位温暖的路人</h4>
                    <p class="sort-box"><span class="sort-num">6</span></p>
                    <ul class="list-inline hot-list-li">
                      <li>重庆</li>
                      <li>21</li>
                    </ul>
                    <ul class="list-inline hot-list-li">
                      <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="javascript:;">
                      <img class="media-object hot-list-img" src="{{src}}/index/img/hot-3.jpeg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">一位温暖的路人</h4>
                    <p class="sort-box"><span class="sort-num">7</span></p>
                    <ul class="list-inline hot-list-li">
                      <li>重庆</li>
                      <li>21</li>
                    </ul>
                    <ul class="list-inline hot-list-li">
                      <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="javascript:;">
                      <img class="media-object hot-list-img" src="{{src}}/index/img/hot-3.jpeg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">一位温暖的路人</h4>
                    <p class="sort-box"><span class="sort-num">8</span></p>
                    <ul class="list-inline hot-list-li">
                      <li>重庆</li>
                      <li>21</li>
                    </ul>
                    <ul class="list-inline hot-list-li">
                      <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="javascript:;">
                      <img class="media-object hot-list-img" src="{{src}}/index/img/hot-3.jpeg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">一位温暖的路人</h4>
                    <p class="sort-box"><span class="sort-num">9</span></p>
                    <ul class="list-inline hot-list-li">
                      <li>重庆</li>
                      <li>21</li>
                    </ul>
                    <ul class="list-inline hot-list-li">
                      <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-5">
          <div class="ranking-title-box">
            <i class="fa fa-money ranking-icon"></i><span class="ranking-title">贡献榜</span>
          </div>
          <ul class="list-group ranking-list-box">
            <li class="list-group-item ranking-list-title">
              <span class="on-notice" id="contributionWeekNotice" onclick="noticeChange('contributionWeekNotice','contributionTotalNotice');">周榜</span><span class="off-notice" id="contributionTotalNotice" onclick="noticeChange('contributionTotalNotice','contributionWeekNotice');">总榜</span>
            </li>
            <li class="list-group-item">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="javascript:;">
                      <img class="media-object hot-list-img" src="{{src}}/index/img/hot-3.jpeg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">一位温暖的路人</h4>
                    <p class="sort-box"><span class="sort-num">1</span></p>
                    <ul class="list-inline hot-list-li">
                      <li>Lv：9</li>
                    </ul>
                    <ul class="list-inline hot-list-li">
                      <li>贡献值：12434433445</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="javascript:;">
                      <img class="media-object hot-list-img" src="{{src}}/index/img/hot-3.jpeg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">一位温暖的路人</h4>
                    <p class="sort-box"><span class="sort-num">2</span></p>
                    <ul class="list-inline hot-list-li">
                      <li>Lv：9</li>
                    </ul>
                    <ul class="list-inline hot-list-li">
                      <li>贡献值：12434433445</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="javascript:;">
                      <img class="media-object hot-list-img" src="{{src}}/index/img/hot-3.jpeg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">一位温暖的路人</h4>
                    <p class="sort-box"><span class="sort-num">3</span></p>
                    <ul class="list-inline hot-list-li">
                      <li>Lv：9</li>
                    </ul>
                    <ul class="list-inline hot-list-li">
                      <li>贡献值：12434433445</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="javascript:;">
                      <img class="media-object hot-list-img" src="{{src}}/index/img/hot-3.jpeg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">一位温暖的路人</h4>
                    <p class="sort-box"><span class="sort-num">4</span></p>
                    <ul class="list-inline hot-list-li">
                      <li>Lv：9</li>
                    </ul>
                    <ul class="list-inline hot-list-li">
                      <li>贡献值：12434433445</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="javascript:;">
                      <img class="media-object hot-list-img" src="{{src}}/index/img/hot-3.jpeg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">一位温暖的路人</h4>
                    <p class="sort-box"><span class="sort-num">5</span></p>
                    <ul class="list-inline hot-list-li">
                      <li>Lv：9</li>
                    </ul>
                    <ul class="list-inline hot-list-li">
                      <li>贡献值：12434433445</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="javascript:;">
                      <img class="media-object hot-list-img" src="{{src}}/index/img/hot-3.jpeg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">一位温暖的路人</h4>
                    <p class="sort-box"><span class="sort-num">6</span></p>
                    <ul class="list-inline hot-list-li">
                      <li>Lv：9</li>
                    </ul>
                    <ul class="list-inline hot-list-li">
                      <li>贡献值：12434433445</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="javascript:;">
                      <img class="media-object hot-list-img" src="{{src}}/index/img/hot-3.jpeg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">一位温暖的路人</h4>
                    <p class="sort-box"><span class="sort-num">7</span></p>
                    <ul class="list-inline hot-list-li">
                      <li>Lv：9</li>
                    </ul>
                    <ul class="list-inline hot-list-li">
                      <li>贡献值：12434433445</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="javascript:;">
                      <img class="media-object hot-list-img" src="{{src}}/index/img/hot-3.jpeg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">一位温暖的路人</h4>
                    <p class="sort-box"><span class="sort-num">8</span></p>
                    <ul class="list-inline hot-list-li">
                      <li>Lv：9</li>
                    </ul>
                    <ul class="list-inline hot-list-li">
                      <li>贡献值：12434433445</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="javascript:;">
                      <img class="media-object hot-list-img" src="{{src}}/index/img/hot-3.jpeg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">一位温暖的路人</h4>
                    <p class="sort-box"><span class="sort-num">9</span></p>
                    <ul class="list-inline hot-list-li">
                      <li>Lv：9</li>
                    </ul>
                    <ul class="list-inline hot-list-li">
                      <li>贡献值：12434433445</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- 排行榜 end -->

{% include 'footer.html' %}
{% block js %}
<script src="{{src}}/index/js/index.js"></script>
{% endblock %}