{% include 'header.html' %}
{% block css %}
<link rel="stylesheet" href="{{src}}/index/css/index.css">
{% endblock %}

  <!-- banner start -->
  <div class="container-fluid banner-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              {% if data.bannerData %}
                {% for k,v in data.bannerData %}
                <div {% if k == 0 %}class="item active"{% else %}class="item"{% endif %}>
                  <img src="{{v.path}}">
                  <div class="carousel-caption">
                  </div>
                </div>
                {% endfor %}
              {% else %}
              <div class="item active">
                <img src="{{src}}/index/img/banner-1.png">
                <div class="carousel-caption">
                </div>
              </div>
              {% endif %}

            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- banner end -->

  <!-- 热门主播 start -->
  <div class="container-fluid hot-anchor-box">
    <div class="container">
      {% if data.hlData %}
      <div class="row hot-img-row">
        <div class="col-md-6 hot-img-box">
          <a href="/meet/detail/uid/{{data.hlData[0].uid}}/scid/{{data.hlData[0].scid}}/sid/{{data.hlData[0].id}}" target="_blank"><img src="{{data.hlData[0].cover_path}}" class="img-responsive"></a>
        </div>
        <div class="col-md-6">
          <img src="{{src}}/index/img/hot-0.png" class="img-responsive">
        </div>
      </div>
      <div class="row hot-item-row">
        <div class="col-md-4">
          <a href="/meet/detail/uid/{{data.hlData[1].uid}}/scid/{{data.hlData[1].scid}}/sid/{{data.hlData[1].id}}" target="_blank"><img src="{{data.hlData[1].cover_path}}" class="img-responsive"></a>
        </div>
        <div class="col-md-4">
          <a href="/meet/detail/uid/{{data.hlData[2].uid}}/scid/{{data.hlData[2].scid}}/sid/{{data.hlData[2].id}}" target="_blank"><img src="{{data.hlData[2].cover_path}}" class="img-responsive"></a>
        </div>
        <div class="col-md-4">
          <a href="/meet/detail/uid/{{data.hlData[3].uid}}/scid/{{data.hlData[3].scid}}/sid/{{data.hlData[3].id}}" target="_blank"><img src="{{data.hlData[3].cover_path}}" class="img-responsive"></a>
        </div>
      </div>
      {% else %}
        <blockquote>
          <p>暂无数据 ～</p>
        </blockquote>
      {% endif %}
    </div>
  </div>
  <!-- 热门主播 end -->

  <!-- 热门推荐 start -->
  <div class="container-fluid hot-b-box">
    <div class="container">

      <div class="row">
        <div class="col-md-12 hot-recommend-title">
          <img src="{{src}}/index/img/hot-recommend.png" class="img-responsive hot-recommend-img">
        </div>
      </div>

      <div class="row hot-list-box">
      {% if data.hrData %}
      {% for k,v in data.hrData %}
        <div class="col-md-4">
          <a href="/meet/detail/uid/{{v.uid}}/scid/{{v.scid}}/sid/{{v.id}}" target="_blank">
            <div class="thumbnail">
              <img src="{{v.cover_path}}" class="cover-thumbnail">
              <div class="caption">
                  <ul class="list-inline">
                    <!-- <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                    <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li> -->
                    {% for kk,vv in v.uData.i_label %}
                      {% if kk == 0 %}
                        <li class="bg-danger i-label">{{vv}}</li>
                      {% else %}
                        <li class="bg-success i-label">{{vv}}</li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                <h4>
                  {{v.uData.nickname}}
                </h4>
                <ul class="list-inline">
                  <li>{{v.uData.city}}</li>
                  <li>{{v.uData.age}}</li>
                </ul>
                <ul class="list-inline">
                  {% if v.uData.status == 1 %}
                  <li><i class="fa fa-circle on-line"></i> 在线</li>
                  {% elseif v.uData.status == 0 %}
                  <li><i class="fa fa-circle off-line"></i> 离线</li>
                  {% else %}
                  <li><i class="fa fa-circle off-line"></i> 冻结</li>
                  {% endif %}
                  <li class="money-time">{{v.price}}元／{{v.units}}</li>
                </ul>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
      {% else %}
        <blockquote>
          <p>暂无数据 ～</p>
        </blockquote>
      {% endif %}

      </div>

      <!-- 更多按钮 -->
      <div class="row">
        <div class="col-md-12 more-box">
          <a href="/meet/index" target="_blank">
            <img src="{{src}}/index/img/more.png" class="img-responsive more-btn">
          </a>
        </div>
      </div>

    </div>
  </div>
  <!-- 热门推荐 end -->

  <!-- 排行榜 start -->
  <div class="container-fluid ranking-b-box">
    <div class="container">
      <div class="row ranking-box">
        <div class="col-md-5">
          <div class="ranking-title-box">
            <i class="fa fa-free-code-camp ranking-icon"></i><span class="ranking-title">热度榜</span>
          </div>
          <ul class="list-group ranking-list-box">
            <!-- <li class="list-group-item ranking-list-title">
              <span class="on-notice" id="hotWeekNotice" onclick="noticeChange('hotWeekNotice','hotTotalNotice');">周榜</span><span class="off-notice" id="hotTotalNotice" onclick="noticeChange('hotTotalNotice','hotWeekNotice');">总榜</span>
            </li> -->
            {% if data.charmData %}
            {% for k,v in data.charmData %}
            <li class="list-group-item">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="javascript:;">
                      <img class="media-object hot-list-img" src="{{v.avatar}}">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{v.nickname}}</h4>
                    <p class="sort-box"><span class="sort-num">{{k+1}}</span></p>
                    <ul class="list-inline hot-list-li">
                      <li>{{v.city}}</li>
                      <li>{{v.age}}</li>
                    </ul>
                    <ul class="list-inline hot-list-li">
                      <li>魅力值：{{v.charm}}</li>
                      <!-- <li><img src="{{src}}/index/img/sicon-1.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-2.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-3.png" class="img-responsive"></li>
                      <li><img src="{{src}}/index/img/sicon-4.png" class="img-responsive"></li> -->
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            {% endfor %}
            {% else %}
              <blockquote>
                <p>暂无数据 ～</p>
              </blockquote>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-5">
          <div class="ranking-title-box">
            <i class="fa fa-money ranking-icon"></i><span class="ranking-title">贡献榜</span>
          </div>
          <ul class="list-group ranking-list-box">
            <!-- <li class="list-group-item ranking-list-title">
              <span class="on-notice" id="contributionWeekNotice" onclick="noticeChange('contributionWeekNotice','contributionTotalNotice');">周榜</span><span class="off-notice" id="contributionTotalNotice" onclick="noticeChange('contributionTotalNotice','contributionWeekNotice');">总榜</span>
            </li> -->
            {% if data.contributionData %}
            {% for k,v in data.contributionData %}
            <li class="list-group-item">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="javascript:;">
                      <img class="media-object hot-list-img" src="{{v.avatar}}">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{v.nickname}}</h4>
                    <p class="sort-box"><span class="sort-num">{{k+1}}</span></p>
                    <ul class="list-inline hot-list-li">
                      <li>
                        {% if v.contribution <10000 %}
                        Lv：1
                        {% elseif v.contribution <30000 %}
                        Lv：2
                        {% elseif v.contribution <50000 %}
                        Lv：3
                        {% elseif v.contribution <70000 %}
                        Lv：4
                        {% elseif v.contribution <90000 %}
                        Lv：5
                        {% elseif v.contribution <110000 %}
                        Lv：6
                        {% elseif v.contribution <130000 %}
                        Lv：7
                        {% elseif v.contribution <150000 %}
                        Lv：8
                        {% elseif v.contribution <200000 %}
                        Lv：9
                        {% endif %}
                      </li>
                    </ul>
                    <ul class="list-inline hot-list-li">
                      <li>贡献值：{{v.contribution}}</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            {% endfor %}
            {% else %}
              <blockquote>
                <p>暂无数据 ～</p>
              </blockquote>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- 排行榜 end -->

{% include 'footer.html' %}
{% block js %}
<script src="{{src}}/index/js/index.js"></script>
{% endblock %}