

<!-- 固定底部 -->
  <div class="weui-tabbar">
    <a href="/wap" class="weui-tabbar__item weui-bar__item--on">
      <div class="weui-tabbar__icon">
        <i class="footer_icon footer_icon_1"></i>
      </div>
      <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="/wap/indent/index" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <i class="footer_icon footer_icon_2"></i>
      </div>
      <p class="weui-tabbar__label">订单</p>
    </a>
    <a href="/wap/pay/pay" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <i class="footer_icon footer_icon_3"></i>
      </div>
      <p class="weui-tabbar__label">充值</p>
    </a>
    <a href="/wap/ucenter/index" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <i class="footer_icon footer_icon_4"></i>
      </div>
      <p class="weui-tabbar__label">我的</p>
    </a>
  </div>
</div>

  <div style="width:100%;height: 50px;"></div>

{% include 'footer_js.html' %}
</head>
<body>