{% include 'header.html' %}

{% block css %}

<link rel="stylesheet" href="/apps/wap/views/indent/css/indent.css">

{% endblock %}

<!-- 容器 -->
<div class="weui-tab">
  <div class="weui-navbar">
    <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
      全部订单
    </a>
    <a class="weui-navbar__item" href="#tab2">
      未完成订单
    </a>
    <a class="weui-navbar__item" href="#tab3">
      待评价
    </a>
    <a class="weui-navbar__item" href="#tab4">
      已结束
    </a>
  </div>
  <div class="weui-tab__bd">
    <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
      <div class="weui-form-preview" style="margin-bottom: 20px;">
        <div class="weui-form-preview__hd">
          <label class="weui-form-preview__label">付款金额</label>
          <em class="weui-form-preview__value">¥2400.00</em>
        </div>
        <div class="weui-form-preview__bd">
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">订单号</label>
            <span class="weui-form-preview__value">20171011545055574</span>
          </div>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">结束时间</label>
            <span class="weui-form-preview__value">2017-10-09 09:10:56</span>
          </div>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">预约时间</label>
            <span class="weui-form-preview__value">2017-10-09 09:00:00</span>
          </div>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">预约服务</label>
            <span class="weui-form-preview__value">线下LOL</span>
          </div>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">订单金额</label>
            <span class="weui-form-preview__value">￥100.00/1局</span>
          </div>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">来自手机号</label>
            <span class="weui-form-preview__value">13500000001</span>
          </div>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">状态</label>
            <span class="weui-form-preview__value">已结束</span>
          </div>
        </div>
      </div>
      <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
          <label class="weui-form-preview__label">付款金额</label>
          <em class="weui-form-preview__value">¥2400.00</em>
        </div>
        <div class="weui-form-preview__bd">
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">订单号</label>
            <span class="weui-form-preview__value">20171011545055574</span>
          </div>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">结束时间</label>
            <span class="weui-form-preview__value">2017-10-09 09:10:56</span>
          </div>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">预约时间</label>
            <span class="weui-form-preview__value">2017-10-09 09:00:00</span>
          </div>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">预约服务</label>
            <span class="weui-form-preview__value">线下LOL</span>
          </div>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">订单金额</label>
            <span class="weui-form-preview__value">￥100.00/1局</span>
          </div>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">来自手机号</label>
            <span class="weui-form-preview__value">13500000001</span>
          </div>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">状态</label>
            <span class="weui-form-preview__value">已结束</span>
          </div>
        </div>
      </div>
    </div>
    <div id="tab2" class="weui-tab__bd-item">
      <h1>未完成订单</h1>
    </div>
    <div id="tab3" class="weui-tab__bd-item">
      <h1>待评价</h1>
    </div>
    <div id="tab4" class="weui-tab__bd-item">
      <h1>已结束</h1>
    </div>
  </div>
</div>

{% include 'footer.html' %}