
{% include 'header.html' %}

{% block css %}

<link rel="stylesheet" href="/apps/wap/views/meet/css/index.css">
<link rel="stylesheet" href="/public/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">

{% endblock %}

	<!-- Page -->
<div class="meetPage">
  <div class="container index">
  		<div class="weui-cells">
    		  <div class="weui-cell weui-cell_access" >
    		  	<div class="weui-cell__hd"><img class="avatar-img" src="{{data.users.avatar}}"></div>
    		    <div class="weui-cell__bd">
    		      <p>
                {{data.users.nickname}}
                {% if data.users.istatus == 1 %}
                <img src="/apps/wap/views/index/img/approve.png">
                {% endif %}
              </p>
              <p>{{data.users.age}} | {{data.users.city}} |
                {% if data.users.status == 0 %}离线{% endif %}
                {% if data.users.status == 1 %}在线{% endif %}
                {% if data.users.status == 2 %}冻结{% endif %}
              </p>
              <!-- <p class="selfie-p">* 点击头像观看自拍视频</p> -->
            </div>
    		  </div>
    		</div>
  </div>
    <video class="video-box" controls>
        <source src="{{data.usersInfo.video_path}}" type="video/mp4">
        <p>设备不支持</p>
    </video>
  	<div class="my_msg index_container">
  		<p>魅力值： <span style="color: red;">{{data.users.charm}}</span></p>
      <p>身高：{{data.usersInfo.stature}}CM</p>
      <p>体重：{{data.usersInfo.weight}}Kg</p>
      <p>职业：{{data.usersInfo.occupation}}</p>
      <p>魅力部位：{{data.usersInfo.charm_part}}</p>
      <p>兴趣爱好：{{data.usersInfo.interests}}</p>
  		<div class="online">{{data.users.i_label}}</div>
  	</div>
</div>
	<!-- 服务信息 -->
<div class="container index_container">
	<div class="weui-tab">
  <div class="weui-navbar">
    {% for k,v in data.sData %}
    <a {% if scid == v.scData.id %} class="weui-navbar__item weui-bar__item--on" {% else %} class="weui-navbar__item" {% endif %} href="/wap/meet/index/uid/{{uid}}/scid/{{v.scData.id}}/sid/{{v.id}}">
      {{v.scData.cname}}
    </a>
    {% endfor %}
  </div>
  <div class="weui-tab__bd">
    <div class="weui-tab__bd-item weui-tab__bd-item--active">
    	<div class="service">
      		<h5>服务基础信息</h5>
      		<p>{{data.onsData.i_label}}</p>
      		<p>接单数：{{data.onsData.or_quantity}}</p>
      		<p>
      			<audio controls>
              <source src="{{data.onsData.voice}}" type="audio/mpeg">
            </audio>
      		</p>
      		<div class="order">
      			<p><span class="red">{{data.onsData.price}}</span>元／{{data.units}}</p>
      			<div>
              {% if data.users.status == 1 and data.users.id != u.id %}
                <a  class="weui-btn weui-btn_warn" onclick="indent({{u.id}});">下单约TA</a>
              {% endif %}
            </div>
      		</div>
      	</div>
      	<div class="service">
      		<h5>介绍</h5>
      		<p>
            {% autoescape false %}
              {{data.onsData.describe}}
            {% endautoescape %}
          </p>
      	</div>
              {% if data.onsData.comment %}
              <div class="weui-panel weui-panel_access">
              <div class="weui-panel__hd">评论</div>
              <div class="weui-panel__bd">
              {% for k,v in data.onsData.comment %}
              <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                  <img class="weui-media-box__thumb" src="{{v.avatar}}">
                </div>
                <div class="weui-media-box__bd">
                  <h5 class="weui-media-box__title">{{v.nickname}}（{{v.ctime|date('Y-m-d')}}）
                    <span class="evaluate-i">
                    {% if v.status == 0 %}好评{% endif %}
                    {% if v.status == 1 %}中评{% endif %}
                    {% if v.status == 2 %}差评{% endif %}
                    </span>
                  </h5>
                  <p></p>
                  <p class="weui-media-box__desc">{{v.content}}</p>
                </div>
              </a>
              {% endfor %}
              </div>
              </div>
              {% else %}
              <p class="weui-panel__hd">暂无评论~</p>
              {% endif %}

    </div>
  </div>
</div>
</div>

<!-- 下单 modal -->
<div id="iModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog i-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">听娱神游约玩</h4>
      </div>
      <div class="modal-body">
        <blockquote>
          <p>订单信息</p>
        </blockquote>
          <div class="row indent-row">
            <div class="col-md-2">
              <img src="{{data.users.avatar}}" class="img-responsive avatar-img">
            </div>
            <div class="col-md-5">
              <p class="nickname-text">昵称：{{data.users.nickname}}</p>
              <p>服务：{{data.onscCname}}</p>
            </div>
            <div class="col-md-5">
              <p class="service-price-p">总价：<span class="service-price-indent">{{data.onsData.price}}</span>元／{{data.units}}</p>
              <p>单价：<sapn class="unit-price">{{data.onsData.price}}</sapn> x <span id="numSpan">1</span>{{data.units}}</p>
              <p>您当前约玩币：{{u.balance}}</p>
            </div>
          </div>
        <blockquote>
          <p>下单时间</p>
        </blockquote>
          <div class="row indent-row">
            <div class="col-xs-12">
              <div class="form-inline">
                <div class="form-group">
                  <label for="exampleInputName2">日期</label>
                  <input type="text" class="form-control" id="datetimepickerDade" name="startDate" readonly="readonly" value="{{data.currentDate}}">
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-inline">
                <div class="form-group">
                  <label for="exampleInputName2">时间</label>
                  <input type="text" class="form-control" id="datetimepickerTime" name="startTime" readonly="readonly" placeholder="请选择服务开始时间">
                </div>
              </div>
            </div>
            <div class="col-xs-6 num-md">
              <input class="alignment num-select" value="1" data-step="1" data-min="1" data-max="23" data-digit="0" name="num" />
            </div>
          </div>
        <blockquote>
          <p class="pay-tips">* 支付成功后将短信通知陪玩导师，请保持电话畅通。</p>
        </blockquote>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" onclick="iPay({{data.users.id}},{{u.id}},{{data.onsData.id}},0,'{{u.phone}}','{{data.users.phone}}','{{data.onsData.price}}','{{data.units}}','{{u.balance}}','{{data.onscCname}}');">立即支付</button>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}
{% block js %}
    <script src="/public/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/public/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="/public/jQuery-num-alignment/js/num-alignment.js"></script>
    <script src="/apps/wap/views/meet/js/index.js"></script>

  {% endblock %}