
{% include 'header.html' %}

{% block css %}

<link rel="stylesheet" href="/apps/wap/views/meet/css/index.css">

{% endblock %}


	<!-- Page -->
<div class="container index">
	<div class="page ">
		<div class="weui-cells">
		  <a class="weui-cell weui-cell_access" href="javascript:;">
		  	<div class="weui-cell__hd"><img src="/apps/wap/views/index/img/avatar.png"></div>
		    <div class="weui-cell__bd">
		      <p>长伴左手</p>
		      <p class="uid" >接单时间 0：00-24:00</p>
		      <div><img src="/apps/wap/views/index/img/approve.png"></div>
		    </div>
		    <div class="weui-cell__ft"></div>
		  </a>
  		</div>
	</div>
	<div class="my_msg">
		<p>魅力值： <span style="color: red;">2813</span></p>
		<p>声音甜美，乖巧粘人</p>
		<div class="online">22 | 重庆 | 53分钟</div>
	</div>
</div>
	<!-- 服务信息 -->
<div class="container">
	<div class="weui-tab">
  <div class="weui-navbar">
    <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
      球球大作战
    </a>
    <a class="weui-navbar__item" href="#tab2">
      LOL
    </a>
    <a class="weui-navbar__item" href="#tab3">
      王者荣耀
    </a>
  </div>
  <div class="weui-tab__bd">
    <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
    	<div class="service">
      		<h5>基本服务信息</h5>
      		<p>慢些走</p>
      		<p>接单数 : 0</p>
      		<p>语音
      			<audio controls>
                  <source src="{{data.onsData.voice}}" type="audio/mpeg">
                </audio>
      		</p>
      		<div class="order">
      			<p><span class="red">233.00</span>元/局</p>
      			<div><a  href="/wap/meet/order" class="weui-btn weui-btn_warn" >下单约TA</a></div>
      		</div>
      	</div>
      	<div class="service">
      		<h5>介绍</h5>
      		<p>我用沉默告诉你我喝醉了</p>
      	</div>
      	<div class="service">
      		<h5>评论</h5>
      		<p>暂无评论~~</p>
      	</div>
    </div>
    <div id="tab2" class="weui-tab__bd-item">
      <div class="service">
      		<h5>基本服务信息</h5>
      		<p>最强王者</p>
      		<p>接单数 : 4</p>
      		<p>语音
      			<audio controls>
                  <source src="{{data.onsData.voice}}" type="audio/mpeg">
                </audio>
      		</p>
      		<div class="order">
      			<p><span class="red">50.00</span>元/局</p>
      			<div><button  class="weui-btn weui-btn_warn" >下单约TA</button></div>
      		</div>
      	</div>
      	<div class="service">
      		<h5>介绍</h5>
      		<p>是否找个接口继续苟活</p>
      	</div>
      	<div class="service">
      		<h5>评论</h5>
      		<div class="weui-panel weui-panel_access">
			  	<div class="weui-panel__bd">
				    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
				      <div class="weui-media-box__hd">
				        <img class="weui-media-box__thumb" src="/apps/wap/views/index/img/avatar.png">
				      </div>
				      <div class="weui-media-box__bd posRel">
				        <h6 class="weui-media-box__title">一位温暖的路人</h6>
				        <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
				        <div class="posAbS red postopRig">好评</div>
				      </div>
				    </a>
				    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
				      <div class="weui-media-box__hd">
				        <img class="weui-media-box__thumb" src="/apps/wap/views/index/img/avatar.png">
				      </div>
				      <div class="weui-media-box__bd posRel">
				        <h6 class="weui-media-box__title">杀意决</h6>
				        <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
				        <div class="posAbS red postopRig">好评</div>
				      </div>
				    </a>
			  	</div>
			</div>
      	</div>
    </div>
    <div id="tab3" class="weui-tab__bd-item">
      <div class="service">
      		<h5>基本服务信息</h5>
      		<p>大师</p>
      		<p>接单数 : 654</p>
      		<p>语音
      			<audio controls>
                  <source src="{{data.onsData.voice}}" type="audio/mpeg">
                </audio>
      		</p>
      		<div class="order">
      			<p><span class="red">80.00</span>元/局</p>
      			<div><button  class="weui-btn weui-btn_warn" >下单约TA</button></div>
      		</div>
      	</div>
      	<div class="service">
      		<h5>介绍</h5>
      		<p>这里写你的描绘信息~~</p>
      	</div>
      	<div class="service">
      		<h5>评论</h5>
      		<div class="weui-panel weui-panel_access">
			  	<div class="weui-panel__bd">
				    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
				      <div class="weui-media-box__hd">
				        <img class="weui-media-box__thumb" src="/apps/wap/views/index/img/avatar.png">
				      </div>
				      <div class="weui-media-box__bd posRel">
				        <h6 class="weui-media-box__title">一位温暖的路人</h6>
				        <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
				        <div class="posAbS red postopRig">好评</div>
				      </div>
				    </a>
				    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
				      <div class="weui-media-box__hd">
				        <img class="weui-media-box__thumb" src="/apps/wap/views/index/img/avatar.png">
				      </div>
				      <div class="weui-media-box__bd posRel">
				        <h6 class="weui-media-box__title">杀意决</h6>
				        <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
				        <div class="posAbS red postopRig">好评</div>
				      </div>
				    </a>
			  	</div>
			</div>
      	</div>
    </div>
  </div>
</div>
</div>

{% include 'footer.html' %}