{% include 'header.html' %}

{% block css %}

<link rel="stylesheet" href="/apps/wap/views/meet/css/index.css">
<link rel="stylesheet" type="text/css" href="/public/jquery-weui-build/dist/css/jquery-weui.css">
<link rel="stylesheet" href="/public/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
{% endblock %}

<div class="order pad">
	<form>
		<div class="weui-cells backColor">
		  <a class="weui-cell weui-cell_access" href="javascript:;">
		    <div class="weui-cell__bd">
		      <p>服务项目</p>
		    </div>
		    <div class="weui-cell__ft red">线上LOL</div>
		  </a>
		</div>
		<div class="weui-cells">
		  <div class="weui-cell">
		    <div class="weui-cell__bd">
		      <p>价格</p>
		    </div>
		    <div class="weui-cell__ft " ><span class="unit-price">30</span>元 / 局</div>
		  </div>
		</div>
		<div class="weui-cells orderTime pad">
			<div class="row indent-row">
	            <div class="col-md-5">
	              <div class="form-inline">
	                <div class="form-group">
	                  <label for="exampleInputName2">日期</label>
	                  <input type="text" class="form-control" id="datetimepickerDade" name="startDate" readonly="readonly" value="请选择服务开始日期">
	                </div>
	              </div>
	            </div>
	            <div class="col-md-5">
	              <div class="form-inline">
	                <div class="form-group">
	                  <label for="exampleInputName2">时间</label>
	                  <input type="text" class="form-control" id="datetimepickerTime" name="startTime" readonly="readonly" placeholder="请选择服务开始时间">
	                </div>
	              </div>
	            </div>
	            <div class="col-md-2 num-md">
	              <input class="alignment num-select" value="1" data-step="1" data-min="1" data-max="23" data-digit="0" name="num" />
	            </div>
	          </div>
		</div>
		<div class="weui-cells__title">说明</div>
			<div class="weui-cells weui-cells_form">
			  <div class="weui-cell">
			    <div class="weui-cell__bd">
			      <textarea class="weui-textarea" placeholder="请说明你的要求" rows="3"></textarea>
			      <div class="weui-textarea-counter"><span>0</span>/200</div>
			    </div>
			  </div>
			</div>
		<div class="weui-cells">
		  <div class="weui-cell">
		    <div class="weui-cell__bd">
		      <p>总金额</p>
		    </div>
		    <div class="weui-cell__ft" >￥<span class="service-price-indent">0.00</span></div>
		  </div>
		</div>
		<div class="weui-cells">
		  <div class="weui-cell">
		    <div class="weui-cell__bd">
		      <p>需付款</p>
		    </div>
		    <div class="weui-cell__ft">￥<span class="service-price-indent">0.00</span></div>
		  </div>
		</div>
		<div class="weui-cells">
			<a href="/wap/meet/payment" class="weui-btn weui-btn_primary">提交订单</a>
		</div>
		<div class="weui-cells">
			<p class="red">* 支付成功后将短信通知陪玩导师，请保持电话畅通。</p>
		</div>
	</form>
		<div class="weui-cells">
			<div class="weui-cell">
				<a href="javascript:history.go(-1);">返回上一页</a>
			</div>
		</div>
</div>


{% include 'footer_js.html' %}	

{% block js %}
<script src="/public/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
<script src="/public/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="/public/jQuery-num-alignment/js/num-alignment.js"></script>
 <script src="/apps/wap/views/meet/js/order.js"></script>

{% endblock %}
