{% include 'header.html' %}

{% block css %}

<link rel="stylesheet" href="/apps/wap/views/meet/css/index.css">
<link rel="stylesheet" type="text/css" href="/public/jquery-weui-build/dist/css/jquery-weui.css">
<link rel="stylesheet" href="/public/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
{% endblock %}

<div class="order pad">
	{% for k,v in data.sData %}
	<form >	
		<div class="weui-cells ">
		  <div class="weui-cell weui-cell_access">
		    <div class="weui-cell__bd">订单信息</div>
		  </div>
		</div>
		<div class="weui-cells backColor fs">
			
			<div class="weui-panel weui-panel_access">
			  <div class="weui-panel__bd">
			    <div class="weui-media-box weui-media-box_appmsg">
			      <div class="weui-media-box__hd">
			        <img class="weui-media-box__thumb" src="/apps/wap/views/index/img/avatar.png">
			      </div>
			      <div class="weui-media-box__bd">
			        <h4 class="weui-media-box__title">{{v.scData.cname}}</h4>
			        <p class="weui-media-box__desc">接单时间 0：00-24:00</p>
			      </div>
			    </div>
			  </div>
			</div>
		  	<div class="weui-cell">
			    <div class="weui-cell__bd">服务项目</div>
			    <div class="weui-cell__ft">{{data.onscCname}}</div>
		  	</div>		  	

		  	<div class="weui-cell">
			    <div class="weui-cell__bd">价格</div>
			    <div class="weui-cell__ft " ><span class="unit-price">{{data.onsData.price}}</span>元 / {{data.units}}</div>
		  	</div>
		  	<div class="weui-cell">
			    <div class="weui-cell__bd">总金额</div>
			    <div class="weui-cell__ft" >￥<span class="service-price-indent">0.00</span></div>
		  </div>
		  <div class="weui-cell">
			    <div class="weui-cell__bd">当前约玩币</div>
			    <div class="weui-cell__ft " ><span id="numSpan">{{u.balance}}</span></div>
		  	</div>
		</div>
		<div class="weui-cells orderTime pad">
			<div class="row indent-row">
	            <div class="col-md-5">
	              <div class="form-inline">
	                <div class="form-group">
	                  <label for="exampleInputName2">日期</label>
	                  <input type="text" class="form-control" id="datetimepickerDade" name="startDate" readonly="readonly" value="请选择服务开始日期">
	                </div>
	              </div>
	            </div>
	            <div class="col-md-5">
	              <div class="form-inline">
	                <div class="form-group">
	                  <label for="exampleInputName2">时间</label>
	                  <input type="text" class="form-control" id="datetimepickerTime" name="startTime" readonly="readonly" placeholder="请选择服务开始时间">
	                </div>
	              </div>
	            </div>
	            <div class="col-md-2 num-md">
	              <input class="alignment num-select" value="1" data-step="1" data-min="1" data-max="23" data-digit="0" name="num" />
	            </div>
	          </div>
		</div>
		<div class="weui-cells__title">说明</div>
			<div class="weui-cells weui-cells_form">
			  <div class="weui-cell">
			    <div class="weui-cell__bd">
			      <textarea class="weui-textarea" name=""  placeholder="请说明你的要求" rows="3"></textarea>
			      <div class="weui-textarea-counter"><span>0</span>/200</div>
			    </div>
			  </div>
			</div>
		<div class="weui-cells">	  
		</div>
		<div class="weui-cells">
		  <div class="weui-cell">
		    <div class="weui-cell__bd">
		      <p>需付款</p>
		    </div>
		    <div class="weui-cell__ft">￥<span class="service-price-indent">0.00</span></div>
		  </div>
		</div>
		<div class="weui-cells">
			<button type="button" class="weui-btn weui-btn_primary" onclick="iPay({{data.users.id}},{{u.id}},{{data.onsData.id}},0,'{{u.phone}}','{{data.users.phone}}','{{data.onsData.price}}','{{data.units}}','{{u.balance}}','{{data.onscCname}}');">立即支付</button> 
		</div>
		<div class="weui-cells">
			<p class="red texTap">* 支付成功后将短信通知陪玩导师，请保持电话畅通。</p>
		</div>
	</form>
	{% for k,v in data.sData %}
		<div class="weui-cells">
			<div class="weui-cell">
				<a href="javascript:history.go(-1);">返回上一页</a>
			</div>
		</div>
</div>


{% include 'footer_js.html' %}	

<!-- {% block js %}

<script src="/public/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
<script src="/public/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="/public/jQuery-num-alignment/js/num-alignment.js"></script>
 <script src="/apps/wap/views/meet/js/order.js"></script>

{% endblock %} -->
