<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="bootstrap admin template">
  <meta name="author" content="">

  <title>{{ websiteName }}</title>

  <link rel="apple-touch-icon" href="/apps/admin/views/assets/images/apple-touch-icon.png">
  <link rel="shortcut icon" href="/apps/admin/views/assets/images/favicon.ico">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/apps/admin/views/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/apps/admin/views/assets/css/bootstrap-extend.min.css">
  <link rel="stylesheet" href="/apps/admin/views/assets/css/site.min.css">

  <!-- Plugins -->
  <link rel="stylesheet" href="/apps/admin/views/assets/vendor/animsition/animsition.css">
  <link rel="stylesheet" href="/apps/admin/views/assets/vendor/asscrollable/asScrollable.css">
  <link rel="stylesheet" href="/apps/admin/views/assets/vendor/switchery/switchery.css">
  <link rel="stylesheet" href="/apps/admin/views/assets/vendor/intro-js/introjs.css">
  <link rel="stylesheet" href="/apps/admin/views/assets/vendor/slidepanel/slidePanel.css">
  <link rel="stylesheet" href="/apps/admin/views/assets/vendor/flag-icon-css/flag-icon.css">

  <!-- Fonts -->
  <link rel="stylesheet" href="/apps/admin/views/assets/fonts/web-icons/web-icons.min.css">
  <link rel="stylesheet" href="/apps/admin/views/assets/fonts/brand-icons/brand-icons.min.css">
  <link href='http://fonts.googlefonts.net/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <!-- 引入SweetAlert css -->
  <link rel="stylesheet" href="/public/sweetalert-master/dist/sweetalert.css">

  <!-- 引入字体图标 css -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- 引入公共样式 layouts.css -->
  <link rel="stylesheet" href="{{src}}/layouts/css/layouts.css">

  {% block css %}

  {% endblock %}

  <!-- Scripts -->
  <script src="/apps/admin/views/assets/vendor/modernizr/modernizr.js"></script>
  <script src="/apps/admin/views/assets/vendor/breakpoints/breakpoints.js"></script>
  <script>
    Breakpoints();
  </script>
</head>
<body class="site-menubar-unfold" data-auto-menubar="false">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
      data-toggle="menubar">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-bar"></span>
      </button>
      <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
      data-toggle="collapse">
        <i class="icon wb-more-horizontal" aria-hidden="true"></i>
      </button>
      <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
        <img class="navbar-brand-logo" src="/apps/admin/views/assets/images/logo.png" title="Remark">
        <span class="navbar-brand-text"> {{ websiteName }} </span>
      </div>
      <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-search"
      data-toggle="collapse">
        <span class="sr-only">Toggle Search</span>
        <i class="icon wb-search" aria-hidden="true"></i>
      </button>
    </div>

    <div class="navbar-container container-fluid">
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
        <!-- Navbar Toolbar -->
        <ul class="nav navbar-toolbar">
          <li class="hidden-float" id="toggleMenubar">
            <a data-toggle="menubar" href="#" role="button">
              <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only">Toggle menubar</span>
                  <span class="hamburger-bar"></span>
                </i>
            </a>
          </li>
          <li class="hidden-xs" id="toggleFullscreen">
            <a class="icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
              <span class="sr-only">Toggle fullscreen</span>
            </a>
          </li>
        </ul>
        <!-- End Navbar Toolbar -->

        <!-- Navbar Toolbar Right -->
        <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
          <li>
            <a class="navbar-avatar dropdown-toggle" href="http://wpa.qq.com/msgrd?v=3&uin=800814441&site=qq&menu=yes" target="_blank">
              <span class="avatar avatar-online">
                <img src="/apps/home/views/layouts/img/qq-line.png">
              </span>
            </a>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" href="javascript:void(0)" title="Notifications" aria-expanded="false" data-animation="scale-up" role="button">
              <i class="icon wb-bell" aria-hidden="true"></i>
              <span class="badge badge-danger up">5</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
              <li class="dropdown-menu-header" role="presentation">
                <h5>NOTIFICATIONS</h5>
                <span class="label label-round label-danger">New 5</span>
              </li>

              <li class="list-group" role="presentation">
                <div data-role="container">
                  <div data-role="content">
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left padding-right-10">
                          <i class="icon wb-order bg-red-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">A new order has been placed</h6>
                          <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">5 hours ago</time>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left padding-right-10">
                          <i class="icon wb-user bg-green-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Completed the task</h6>
                          <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">2 days ago</time>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left padding-right-10">
                          <i class="icon wb-settings bg-red-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Settings updated</h6>
                          <time class="media-meta" datetime="2015-06-11T14:05:00+08:00">2 days ago</time>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left padding-right-10">
                          <i class="icon wb-calendar bg-blue-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Event started</h6>
                          <time class="media-meta" datetime="2015-06-10T13:50:18+08:00">3 days ago</time>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left padding-right-10">
                          <i class="icon wb-chat bg-orange-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Message received</h6>
                          <time class="media-meta" datetime="2015-06-10T12:34:48+08:00">3 days ago</time>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
              <li class="dropdown-menu-footer" role="presentation">
                <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                  <i class="icon wb-settings" aria-hidden="true"></i>
                </a>
                <a href="javascript:void(0)" role="menuitem">
                    All notifications
                  </a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" href="javascript:void(0)" title="Messages" aria-expanded="false" data-animation="scale-up" role="button">
              <i class="icon wb-envelope" aria-hidden="true"></i>
              <span class="badge badge-info up">3</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
              <li class="dropdown-menu-header" role="presentation">
                <h5>MESSAGES</h5>
                <span class="label label-round label-info">New 3</span>
              </li>

              <li class="list-group" role="presentation">
                <div data-role="container">
                  <div data-role="content">
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left padding-right-10">
                          <span class="avatar avatar-sm avatar-online">
                            <img src="/apps/admin/views/assets/portraits/2.jpg" alt="...">
                            <i></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Mary Adams</h6>
                          <div class="media-meta">
                            <time datetime="2015-06-17T20:22:05+08:00">30 minutes ago</time>
                          </div>
                          <div class="media-detail">Anyways, i would like just do it</div>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left padding-right-10">
                          <span class="avatar avatar-sm avatar-off">
                            <img src="/apps/admin/views/assets/portraits/3.jpg" alt="...">
                            <i></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Caleb Richards</h6>
                          <div class="media-meta">
                            <time datetime="2015-06-17T12:30:30+08:00">12 hours ago</time>
                          </div>
                          <div class="media-detail">I checheck the document. But there seems</div>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left padding-right-10">
                          <span class="avatar avatar-sm avatar-busy">
                            <img src="/apps/admin/views/assets/portraits/4.jpg" alt="...">
                            <i></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">June Lane</h6>
                          <div class="media-meta">
                            <time datetime="2015-06-16T18:38:40+08:00">2 days ago</time>
                          </div>
                          <div class="media-detail">Lorem ipsum Id consectetur et minim</div>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left padding-right-10">
                          <span class="avatar avatar-sm avatar-away">
                            <img src="/apps/admin/views/assets/portraits/5.jpg" alt="...">
                            <i></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Edward Fletcher</h6>
                          <div class="media-meta">
                            <time datetime="2015-06-15T20:34:48+08:00">3 days ago</time>
                          </div>
                          <div class="media-detail">Dolor et irure cupidatat commodo nostrud nostrud.</div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
              <li class="dropdown-menu-footer" role="presentation">
                <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                  <i class="icon wb-settings" aria-hidden="true"></i>
                </a>
                <a href="javascript:void(0)" role="menuitem">
                    See all messages
                  </a>
              </li>
            </ul>
          </li>
          <li class="dropdown open">
            <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true" data-animation="scale-up" role="button">
              <span class="avatar avatar-online">
                <img src="{{u.avatar}}">
                <i></i>
              </span>
              <span>{{u.nickname}}({% if u.type == 1 %}陪玩主播{% else %}普通用户{% endif %})</span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation">
              {% if u.status == 0 %}
                <a href="javascript:void(0)" role="menuitem" onclick="onLine(1);"><i class="icon fa fa-circle circle-off"></i> 离线</a>
              {% elseif u.status == 1 %}
                <a href="javascript:void(0)" role="menuitem" onclick="onLine(0);"><i class="icon fa fa-circle circle-on"></i> 在线</a>
              {% elseif u.status == 2 %}
                <a href="javascript:void(0)" role="menuitem" onclick="onLine(2);"><i class="icon fa fa-circle circle-off"></i> 冻结</a>
              {% endif %}
              </li>
              <li role="presentation">
                <a href="/users/add" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> 个人资料</a>
              </li>
              <li role="presentation">
                <a href="javascript:void(0)" role="menuitem"><i class="icon fa fa-dashboard" aria-hidden="true"></i> 安全中心</a>
              </li>
              <li class="divider" role="presentation"></li>
              <li role="presentation">
                <a href="/login/logout" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> 退出</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- End Navbar Toolbar Right -->
      </div>
      <!-- End Navbar Collapse -->
    </div>
  </nav>


 <div class="site-menubar">
    <div class="site-menubar-body">
      <div>
        <div>
          <ul class="site-menu">
            <li class="site-menu-category">导航栏目</li>
            <li class="site-menu-item has-sub active open">
              <a href="javascript:void(0)" data-slug="layout">
                <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                <span class="site-menu-title">管理</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="menu-collapsed.html" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">Menu Collapsed</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="site-menu-item has-sub active open">
              <a href="javascript:void(0)" data-slug="layout">
                <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                <span class="site-menu-title">设置</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/users/add" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">个人资料</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/enter/add" data-slug="layout-menu-collapsed">
                    <i class="site-menu-icon " aria-hidden="true"></i>
                    <span class="site-menu-title">申请入驻</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  {% block content %}

  {% endblock %}


    <!-- Footer -->
  <footer class="site-footer">
    <span class="site-footer-legal"><i class="red-600 wb wb-heart"></i> <a href="javascript:;">重庆存己科技提供技术支持</a></span>
  </footer>

  <!-- Core  -->
  <script src="/apps/admin/views/assets/vendor/jquery/jquery.js"></script>
  <script src="/apps/admin/views/assets/vendor/bootstrap/bootstrap.js"></script>
  <script src="/apps/admin/views/assets/vendor/animsition/jquery.animsition.js"></script>
  <script src="/apps/admin/views/assets/vendor/asscroll/jquery-asScroll.js"></script>
  <script src="/apps/admin/views/assets/vendor/mousewheel/jquery.mousewheel.js"></script>
  <script src="/apps/admin/views/assets/vendor/asscrollable/jquery.asScrollable.all.js"></script>
  <script src="/apps/admin/views/assets/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>

  <!-- Plugins -->
  <script src="/apps/admin/views/assets/vendor/switchery/switchery.min.js"></script>
  <script src="/apps/admin/views/assets/vendor/intro-js/intro.js"></script>
  <script src="/apps/admin/views/assets/vendor/screenfull/screenfull.js"></script>
  <script src="/apps/admin/views/assets/vendor/slidepanel/jquery-slidePanel.js"></script>

  <!-- Scripts -->
  <script src="/apps/admin/views/assets/js/core.js"></script>
  <script src="/apps/admin/views/assets/js/site.js"></script>

  <script src="/apps/admin/views/assets/js/sections/menu.js"></script>
  <script src="/apps/admin/views/assets/js/sections/menubar.js"></script>
  <script src="/apps/admin/views/assets/js/sections/gridmenu.js"></script>
  <script src="/apps/admin/views/assets/js/sections/sidebar.js"></script>

  <script src="/apps/admin/views/assets/js/configs/config-colors.js"></script>
  <script src="/apps/admin/views/assets/js/configs/config-tour.js"></script>

  <script src="/apps/admin/views/assets/js/components/asscrollable.js"></script>
  <script src="/apps/admin/views/assets/js/components/animsition.js"></script>
  <script src="/apps/admin/views/assets/js/components/slidepanel.js"></script>
  <script src="/apps/admin/views/assets/js/components/switchery.js"></script>

  <!-- Scripts For This Page -->

  <!-- 引入SweetAlert js -->
  <script src="/public/sweetalert-master/dist/sweetalert.min.js"></script>
  <!-- 引入 jquery.validate.min.js -->
  <script src="/public/jquery-validation-1.16.0/dist/jquery.validate.min.js"></script>
  <script src="/public/jquery-validation-1.16.0/lib/jquery.form.js"></script>

  <!-- 引入公共页面 layouts.js -->
  <script src="{{src}}/layouts/js/layouts.js"></script>

  {% block js %}

  {% endblock %}

  <script>
    (function(document, window, $) {
      'use strict';

      var Site = window.Site;
      $(document).ready(function() {
        Site.run();
      });
    })(document, window, jQuery);
  </script>


</body>

</html>
