{% extends "layouts.html" %}
{% block css %}
<link rel="stylesheet" href="{{src}}/indentRoyalties/css/index.css">
{% endblock %}
{% block content%}

<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title"># 收益管理</h1>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title"> @收益记录</h3>
      </div>
      <div class="panel-body">
        <!-- <form action="/indentRoyalties/index" method="post">
          <div class="input-group" style="width: 300px;float: right;">
            <input type="text" class="form-control" name="search" placeholder="请输入关键字">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary"><i class="icon wb-search" aria-hidden="true"></i></button>
            </span>
          </div>
        </form> -->
        <ul class="nav nav-pills">
          <li role="presentation" {% if status == 0 %}class="active"{% endif %} ><a href="/indentRoyalties/index/status/0">未提现订单</a></li>
          <li role="presentation" {% if status == 1 %}class="active"{% endif %} ><a href="/indentRoyalties/index/status/1">已提现订单</a></li>
        </ul>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>时间</th>
              <th>订单编号</th>
              <th>收益</th>
            </tr>
          </thead>
          <tbody>
            {% if data %}
            {% for k,v in data %}
            <tr>
              <td>
                {% if v.type == 0 %}
                  <span class="text-success">{正常}</span>
                {% else %}
                  <span class="text-danger">{退款}</span>
                {% endif %}
              </td>
              <td>{{v.ctime|date('Y-m-d H:i')}}</td>
              <td>{{v.iData.inumber}}</td>
              <td>¥{{v.user_rprice}}</td>
            </tr>
            {% endfor %}
            {% if status == 0 %}
            <tr>
              <td colspan="4">
                <p class="total-p">合计收益：{{u.royalties}}</p>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <p class="royalties-btn"><button type="button" class="btn btn-success" onclick="applyWithdraw({{u.type}},'{{u.royalties}}');">申请提现</button></p>
              </td>
            </tr>
            {% endif %}
            {% else %}
            <tr>
              <td colspan="4">
                <blockquote>
                  <p>暂无数据 ～</p>
                </blockquote>
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
        <div style="float: right;">
          {% autoescape false %}
            {{ page }}
          {% endautoescape %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page -->

{% endblock %}
{% block js %}
<script src="{{src}}/indentRoyalties/js/index.js"></script>
{% endblock %}