.swiper-b-h{
  height: 200px;
}
.swiper-b-img{
  width: 100%;
  height: 100%;
}
.cover-img{
  height: 150px!important;
}
.u-nickname{
  font-size: 14px;
  font-weight:100;
  line-height: 22px;
  margin-bottom: 0;
  display: block;
  padding-left: 5px;
}
.price-info{
  color: #FF0000;
  font-size: 14px;
  padding-left: 5px;
  float: right;
}
.item_list{
  background-color: #ffffff;
}