
a{color: #666;}
a:focus,a:hover{text-decoration: none;}
body{background: #F5F5F5;}
.lf{float: left;}
.lt{float: right;}
.banner-box{margin-bottom: 20px;}
.clear{clear: both;}
.swiper-slide img{width: 100%;}
.indexSearch{margin-top:0px;position:absolute;top:.5rem;left: 25%;opacity: .8;}
.input-group .form-control:last-child{border-radius:20px;text-indent: 30px;position: relative;}
.indexSearch input{text-indent: 20px;}
.indexSearch i{background: url(/apps/wap/views/index/img/search.png) no-repeat;position:absolute;
	display: inline-block;width: 2.5rem;height: 2.5rem;z-index: 10;top:4px;left:4px;}


.index_back{background: #fff;}
.weui-navbar__item:after,.weui-navbar__item:before,
.weui-tab__bd-item:after,.weui-tab__bd-item:before,
.weui-grid:before{border: 0;}
.weui-navbar{background: #ededed;}
.weui-tab__bd .weui-tab__bd-item.weui-tab__bd-item--active{display: block;}
.weui-tab__bd .weui-tab__bd-item{display: none;overflow: auto;}
.weui-tab__bd{padding-top: 50px;}
.weui-tabbar .weui-bar__item--on{background: #fff;border-bottom: 1px solid transparent;z-index: 10;}
.weui-bar__item--on .weui-tabbar__label{color: #f00;}
.weui-bar__item--on:hover{color: #f00;}


/* **************为您推荐  style**************/

.index_container{background: #fff;margin-top: 10px;}
.container{padding:0;}
.container h4{text-align: center;font-weight: 200;color: #F92246; }
.oneBox{padding:5px 7px;width: 100%;margin-bottom: 20px;}
.oneBox .oneBox_list{width: 30%;float: left;margin-right: 8px;position: relative;}
.oneBox .oneBox_list:nth-child(3) {margin-right: 0;}
.list img{width: 100%;height: 100%;}
.label1{display: block;color: #fff;font-size: 6px; position: absolute;font-weight: 100;border-radius: 10%;padding: 2px 4px;line-height: 1;}
.label2{background: #008000;clear: both;top:4px;right: 5px;}
.label{background:#F3626E;bottom: 50px;left:-5px;}
.oneBox_list .userName{font-size: 14px;font-weight:100;line-height: 22px;color: #aaa;margin-bottom: 0;
	display: block; color: #F92246;}
.oneBox_list .userName span{font-size: 16px;}
/*兼容ipone 5 开始*/
@media(max-width: 360px){
.label{background:#F3626E;bottom: 75px;left:-5px;}
.oneBox_list .userName{font-size: 12px;font-weight:100;line-height: 22px;color: #aaa;margin-bottom: 0;
	display: block; color: #F92246;}
}



/***************** 线上lol  ************/
.more{text-align: right;font-size: 10px;color: #bbb;margin-right: 10px;position: absolute;right: 10px;
	top:6px;}



/*********** 固定底部 *******************/
.h20{width: 100%;height: 20px;display: block;font-size: 0;clear: both;}
.weui-tabbar{position: fixed;bottom: 0;background: #fff;}
.footer_icon{display: inline-block;width:27px;height: 27px; }
.footer_icon_1{background: url(/apps/wap/views/index/img/footer_icon_1.png) no-repeat;}
.footer_icon_2{background: url(/apps/wap/views/index/img/footer_icon_2.png) no-repeat;}
.footer_icon_3{background: url(/apps/wap/views/index/img/footer_icon_3.png) no-repeat;}
.footer_icon_4{background: url(/apps/wap/views/index/img/footer_icon_4.png) no-repeat;}

.weui-tabbar__item:hover p{color: #FFA3AC;text-decoration: none;}
.weui-tabbar__item:hover .footer_icon_1{background: url(/apps/wap/views/index/img/footer_icon_1_hover.png) no-repeat;}
.weui-tabbar__item:hover .footer_icon_2{background: url(/apps/wap/views/index/img/footer_icon_2_hover.png) no-repeat;}
.weui-tabbar__item:hover .footer_icon_4{background: url(/apps/wap/views/index/img/footer_icon_4_hover.png) no-repeat;}

/*  登陆弹出框样式 *****/
#full .margAuto{margin:200px 0;text-align: center;background-color: #a2a2a2;}

.popup_bd{ width: 60%; background-color: #fff;padding:10px 20px;margin: 0 auto;border: 1px style#fff;border-radius: 5px;}
.margAuto a{color: #f00;}
.posR{position: relative;padding :0 15px;}
.posAb{position: absolute;top:22px;right: 15px;}
.posR label{width: 100%;}



/****************************** item  style **********************************/
.backg{background-color:#fff; }
.alignRight{text-align: right;}
u{text-decoration: blink;}
.posiR{position: relative;}
.posiA{position: absolute;}
.oneBox .item_list{width: 47%;float: left;margin:0 20px 20px 0;position: relative;font-size: 12px;}
.oneBox .item_list:nth-child(2),
.oneBox .item_list:nth-child(4){margin-right: 0;}
.item_bd .userName{line-height: 30px;font-size: 14px;}
.item_label{bottom: 10px;left: 10px;background: #F3626E;}
.item_tag span{display: inline-block;border: 1px solid #e8e8e8;padding: 3px 14px;border-radius: 5px;}
.item_hd .weui-cell{padding: 0;}
.item_screen{width: 50%;float: right;top:0;right: 0;z-index: 100;background-color: #fff;}
.item_screen_list{width: 100%; line-height: 25px;padding:10px 20px;}
.list_title .item_list span{display: inline-block;padding: 5px 10px;background-color:#ECEDF1;font-size: 12px; width: 30%;}
