{% extends "layouts.html" %}
{% block css %}
<link rel="stylesheet" href="/public/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
{% endblock %}
{% block content%}

<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title"># 个人中心</h1>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body">
        <blockquote>
          <p>基本资料</p>
        </blockquote>
        <form class="form-horizontal" id="usersForm" action="/enter/add" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">出身日期</label>
            <div class="col-sm-10">
              <input type="text" name="birthday" value="{{data.users.birthday|date('Y-m-d')}}" readonly class="form_datetime form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">性别</label>
            <div class="col-sm-10">
              <label class="radio-inline">
                <input type="radio" name="sex" value="0" {% if data.users.sex == 0 %}checked="checked"{% endif %}> 女
              </label>
              <label class="radio-inline">
                <input type="radio" name="sex" value="1" {% if data.users.sex == 1 %}checked="checked"{% endif %}> 男
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">年龄</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="age" placeholder="请输入年龄" value="{{data.users.age}}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">所在城市</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="city" placeholder="请输入目前所在城市" value="{{data.users.city}}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">个性标签(任意选2项)</label>
            <div class="col-sm-10">
              {% for k,v in i_label %}
              <label class="checkbox-inline">
                <input type="checkbox" name="i_label[]" value="{{v}}"> {{v}}
              </label>
              {% endfor %}
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">个性签名</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="i_signature" placeholder="请输入个性签名" value="{{data.users.i_signature}}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">身高(cm)</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="stature" placeholder="请输入身高" value="{{data.users_info.stature}}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">体重(kg)</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="weight" placeholder="请输入体重" value="{{data.users_info.weight}}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">职业</label>
            <div class="col-sm-10">
              <select class="form-control" name="occupation">
                {% for k,v in occupation %}
                <option value="{{v}}">{{v}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">兴趣爱好</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="interests" placeholder="请输入兴趣爱好" value="{{data.users_info.interests}}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">魅力部位(不超过3项)</label>
            <div class="col-sm-10">
              {% for k,v in charm_part %}
              <label class="checkbox-inline">
                <input type="checkbox" name="charm_part[]" value="{{v}}"> {{v}}
              </label>
              {% endfor %}
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">个人视频</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="请上传10秒左右的自拍视频，我是听娱神游约玩的某某某～" readonly="readonly">
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-primary" onclick="$('#video_path').click();">选择</button>
              <input type="hidden" id="video_path_text" name="video_path_text" value="{{data.users_info.video_path}}">
              <input type="file" id="video_path" name="video_path" accept="video/mp4" style="display: none;">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">提交修改</button>
              <button type="button" class="btn btn-primary" onclick="gotoService({{data.u}},{{data.ui}});">申请陪玩服务</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Page -->

<!-- 阅读条款 start -->
<div id="clauseModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        <h4 class="modal-title">"听娱神游约玩"陪玩协议</h4>
      </div>
      <div class="modal-body">
        <p>人，许多路总是在走过的时候才知道对错。——题记

这世间有千百条路，但是适合自己的只有一条;这世界会遇千百人，但是适合在一起的只有一人;这时空会有许多记忆，但是慢慢的都是过眼云烟。人啊!活在这个世界有什么会是你的，我觉得除了"心"是你的，其他的都是万物给你的。

这一生生不来死不带走，我们在亲人的欢笑中到来，又在亲人的悲伤中离开。我们从哪里来又从哪里去，来来去去就是一个瞬间，只不过走过时空飞舞终究会明白一些，人活一世一切顺其自然，再争不是你的始终也会留不住，再努力不属于你的也终究会离开。不必祈求，不必当真，一切淡然处之。

这一生，有太多的欲望，太多的执念。欲望越深需要的就会越多，那么包袱就会越来越重;执念太深烦恼就会越多，那么责任就会越多。世间之事，无奇不有，放下一些包袱，丢弃一些责任，任时光飞舞，一切安好。

人啊!开心也好，失落也好，何必苦了自己，累了自己。或许，我们明白走过蹒跚学步再到青涩年华再到人生暮年，这一短暂的一生终究会有一些包袱和执念在身上，可是我们是否想过我们为了什么呢?

上帝对我们每个人最公平的就是昨天和今天，生和死，其他的一切都是夸夸其谈，没有公平的东西。所以，人生路上我们要学会自救和改变局势，让人生平凡的路上还是有一些烟和火。可是，人最掌控不了的就是死，因为生命可贵又短暂，稍有不注意就是一生一世。

人，怎么活着无所谓。可以富贵的走过此生，也可以贫贱的走过余生，但是要明白无论怎么走过此生，终究有一种生活方式是你的。富的我们求不得，穷的我们无须多求，前者也好，后者也摆对得起自己才是真。

世间所有的东西只有通过自己的努力所得到的才是你的，知识通过大脑的刷新沉淀在骨髓里，有一天他会因为质变而发光发热;财富通过自己的双手而得到，可是再富有没有爱自己的人和自己独有的兴趣爱好也是徒有;名誉通过自己的勤奋而拥有，可是许多的言语都是恭维又有何用?

人生在世无论时空、地位、身份，三两知己，足矣，再多的人留在身边需要的时候无影无踪又有何用?人和人交的是心，谈的是生活，久了方能明白，哪些人是贵人，那些人是生活的多余，哪些人是客。岁月就好像一把筛子，把留的住的人沉淀下去，把留不住的带到记忆的深处。

人活一世有的东西过了就过了，永远回不去，回得去的只有记忆，我们在记忆的深处回味，可是人的记忆是有限的，她会随着时间的推移慢慢在时光的深处化为泡影，成为永远的迷，一直陪你走到人生的尽头。</p>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary" onclick="consent();">同意</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js %}
<script src="{{src}}/enter/js/add.js"></script>
<script src="/public/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
<script src="/public/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
{% endblock %}